<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title> 
  <link rel="stylesheet" href="__HOMECSS__/base.css" media="all">
  <link rel="stylesheet" href="__HOMECSS__/personal.css" media="all">
  <!--加载顶部文件-->
  <include file="./Mls/Home/Common/header.html" />
  <include file="./Mls/Home/Common/header_bg.html" />
  <include file="./Mls/Home/Common/navbar.html" />


<div class="spinner midSpinner pa_f" style="top: 200px; display: none;"></div>
<div style="width: 1200px;" class="content_fluid">
<div style="position: relative; height: 1500px;" class="goods_wall">
<div style="position: absolute; top: 0px; left: 0px;" coli="0" col="0" class="corner_notic">
	<div class="userinfo">
		<div class="clear_f"></div>
		<div class="avatar showChangeHead ">
			<a href="/person/u/205497836" target="_blank">
				<img src="http://d05.res.meilishuo.net/ap/a/97/d5/9f2d27b803fb8591d6b6edccbf79_100_100.ch.jpeg"></a>
			<a class=" change" target="_blank" href="/settings/setAvatar"></a>
		</div>
		<div class="nickname">
			<a class="online" target="_blank" href="/person/u/205497836"><{$Think.session.homename}></a>
			<span class="identity_big_style"></span>
		</div>
		<ul class="status big">
			<li>
				<a href="/ur/fans/205497836" target="_blank">
					<span>粉丝</span>
					<span class="nums">0</span>
				</a>
			</li>
			<li>
				<a href="/ur/follow/205497836" target="_blank">
					<span>关注</span>
					<span class="nums">8</span>
				</a>
			</li>
			<li class="last">
				<a href="/atme/recommend/205497836" target="_blank">
					<span>
						<img style=" margin-top: 2px;" alt="红心" src="/meilishuo/home/static/images/twitter/ILikeit.gif"></span>
					<span class="nums">0</span>
				</a>
			</li>
		</ul>
		<div class="clear_f"></div>
		<div class="clear_f"></div>
	</div>
	<div class="per_modules">
		<div class="e_tabs last">
			<div class="cmn_title">
				<p>
					<a target="_blank" href="/medal/u/205497836">
						更多
						<samp>&gt;&gt;</samp>
					</a>
				</p>
				<h3 class="f14_f">我的美丽说勋章</h3>
			</div>
			<div class="medal">你还没有获得过勋章</div>
		</div>
	</div>
</div>
<div coli="0" col="1" style="width: 960px; position: absolute; top: 0px; left: 240px;" class="corner_nav">
	<div class="s_p_tabs">
		<div class="tabs_con">
			<ul class="list">
				<li class="red_f">
					<a href="?type=book&amp;page=0">我的美丽说</a>
				</li>
				<li>
					<a href="?type=editor&amp;page=0" target="_self">0杂志</a>
				</li>
				<li>
					<a href="?type=share&amp;page=0">0分享</a>
				</li>
				<li>
					<a href="?type=like&amp;page=0">0喜欢</a>
				</li>
				<!-- <li>
					<a href="?type=follow&amp;page=0">0关注杂志</a>
				</li> -->
				<li>
					<a href="?type=topic&amp;page=0">0晒单</a>
				</li>
				<li class=" last">
					<a href="?type=shop&amp;page=0&amp;user_id=205497836">0关注店铺</a>
				</li>
			</ul>
			<div class="clear_f"></div>
		</div>
	</div>

</div>
</div>
<div style="display: none;" class="spinner botSpinner none_f"></div>
<div class="clear_f"></div>
<div class="paging_panel c_f"></div>
<div class="ads_banner ads_bottom none_f"></div>
</div>

<!--包含底部文件-->
<include file="./Mls/Home/Common/footer.html" />