<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title> 
  <link href="__HOMECSS__/bootstrap.min.css" rel="stylesheet" media="screen">
 <link href="__HOMECSS__/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="__HOMECSS__/base.css" media="all">
  <link rel="stylesheet" href="__HOMECSS__/personal.css" media="all">
  <link rel="stylesheet" href="__HOMECSS__/setPersonal.css" media="all">
    
  <!--加载顶部文件-->
  <include file="./Mls/Home/Common/header.html" />
  <include file="./Mls/Home/Common/header_bg.html" />
  <include file="./Mls/Home/Common/navbar.html" />

<load file="__HOMEJS__/upPass.js" />  

<div class="settings">
    <div class="hp_tab">
        <div class="use-info">
            <img src="http://d05.res.meilishuo.net/ap/e/8a/a2/527f43b6de97d7f0720da6b50f87_133_133.cf.jpg" alt="" class="use-pic">
            <p href="" class="use-name">
                <a class="use" href="" title="<{$Think.session.homename}>"><{$Think.session.homename}></a>
            </p>
            <p class="use-id">用户ID：<{$Think.session.hid}></p>
        </div>
        <div class="sub_tab">
            <ul class="account-manage"> <strong>账号管理</strong>
                <li>
                    <a href="<{:U('Person/index')}>" >我的信息</a>
                </li>
                <li>
                    <a href="<{:U('Person/filePic')}>">设置头像</a>
                </li>
                <li>
                    <a href="<{:U('Person/upPass')}>"class="red_f">修改密码</a>
                </li>
                <!-- <li>
                    <a href="">同步绑定</a>
                </li> -->
				
			</ul>
			<ul class="account-safe"> <strong>账号安全</strong>
				<li>
					<a href="/settings/safeCon" style="border:none;">安全中心</a>
				</li>
				<li>
					<a href="/settings/bindMobile" style="border:none;">手机绑定</a>
				</li>
				<li>
					<a href="/settings/loginEqm" style="border:none;">登录设备</a>
				</li>
				<li>
					<a href="/settings/safeHelp" style="border:none;">安全贴士</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="settings_box">
		<strong class="title">修改密码</strong>
		<fieldset class="setPassword">
			<form id="setPasswordForm" method="post" onsubmit="return false" action="">
				<legend>美丽说设置密码表单</legend>
				<p class="form-list">
					<label for="old_password">当前密码</label>
					<input id="old_password" class="l_ipt" type="password" value="" name="old_password" autocomplete="off">
					<a tabindex="6" href=" https://account.meilishuo.com/user/findPwd">
					<strong>忘记密码？</strong>
						</a>
				</p>
				<p class="form-list">
					<label for="new_password">新密码</label>
					<input autocomplete="off" class="l_ipt" id="new_password" name="new_password" value="" type="password">
					<strong></strong>
				</p>
				<div id="pw_safe"class="pw_safe none_f">
					<span class="txt">安全程度</span>
					<div class="pw_strength pw_weak pw_medium pw_strong">
						<div class="pw_bar"></div>
						<div class="pw_letter">
							<span class="strength_l">弱</span>
							<span class="strength_m">中</span>
							<span class="strength_h">强</span>
						</div>
					</div>
				</div>
				<p class="form-list">
					<label for="confirm_password">确认密码</label>
					<input autocomplete="off" class="l_ipt" id="confirm_password" name="confirm_password" value="" type="password">
					<strong class="setPasswordErrorMessageLine"></strong>
				</p>
				<p class="form-list"style="color: red; width: 400px; margin-left: 183px;"></p>
				<input value="确 认" class="ext_submit" type="submit"></form>
		</fieldset>
	</div>
</div>