 <head>
<meta charset="utf-8">
<title>招商首页 - 美丽说</title>

<link rel="stylesheet" href="__STORECSS__/settled_odds.css" media="all">
<!--载入顶部文件-->
<include file="./Mls/Store/Common/header.html" />

<div class="container">

 <div class="top_content">
 	<p>
 		<img src="__STOREIMAGES__/18fb8a98cb6b35adc90d08eb6454_960_297.cc.jpg"></p>
 	<br> 
 	<p>
 		创立至今，美丽说已获得四轮投资，分别来自纪源资本、红杉资本、蓝驰创投、腾讯和清科创投等知名机构和公司的投资。
 		<br> 
 		目前美丽说已有超过1亿注册用户、超过600万活跃用户、超过7500万手机用户。 覆盖iOS以及Android两大移动平台，已发展为中国最大女性时尚电子商务平台。
 	</p>
 	<br></div>
 <div class="odds_list">
 	<div class="c_item">
 		<h4>
 			<img src="__STOREIMAGES__/b39e0544e2892958a7a35e583f0b_36_36.c6.png">1亿+庞大注册用户</h4>
 		<p>
 			美丽说现已拥有100,000,000注册用户，已入驻商家超10000余家，商家数量仍在快速扩张中，商家日成交额最高已达1亿以上。
 		</p>
 	</div>
 	<div class="c_item">
 		<h4>
 			<img src="__STOREIMAGES__/4a9e19e3b38ff43317fd7892d4d6_36_36.c6.png">600万+日UV</h4>
 		<p>
 			美丽说日均UV600万，移动客户端装机量超过7500万，其订单交易量占比70%以上。 客户群定位精准，平台主要面对18-35岁的年轻女性，90后、95后占比达70%。多为北京、上海等一、二线城市用户群。App人均访问时间30分钟以上，保持着优质的用户粘性。
 		</p>
 	</div>
 	<div class="c_item">
 		<h4>
 			<img src="__STOREIMAGES__/40bc6e87b796a7d860f6b3303472_36_36.c6.png">低门槛入驻</h4>
 		<p>降低平台门槛，为广大优质商家提供更宽松的入驻条件。交易操作流程简便快捷，轻轻松松开店。</p>
 	</div>
 	<div class="c_item">
 		<h4>
 			<img src="__STOREIMAGES__/a029548e8bd124b0156d3aeaa2f4_36_36.c6.png">多种工具、性价比推广</h4>
 		<p>
 			获得各种站内外广告，参加平台组织的团购、特卖活动，达人推荐等好店商家特享推广工具。针对入驻好店的商家CPC推广费低至0.15元。
 		</p>
 	</div>
 	<div class="c_item">
 		<h4>
 			<img src="__STOREIMAGES__/078122bc5f61516b4de470c05e3f_36_36.c6.png">多重流量入口</h4>
 		<p>从PC、移动端、微信、手机qq等多重入口大力导入优质客户流量，开辟多种渠道为好店商家进行推广，共享美丽说巨大流量。</p>
 	</div>
 	<div class="c_item">
 		<h4>
 			<img src="__STOREIMAGES__/d77f0edb013f89e7ca79a56f4c02_36_36.c6.png">空前扶持力度</h4>
 		<p>专业运营团队跟进协助商家开展店铺运营，华北、华东、华南三地金牌运营团队为商家服务，助力商家快速成长。</p>
 	</div>
 	<div class="clear_f"></div>
 </div>
	</div>

<!--载入底部文件-->
<include file="./Mls/Store/Common/footer.html" />