<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/bootstrap.min.css">
</head>
<body>
	<table class="table table-bordered">
		<tr style="padding:10px 0;">
			<td style="padding:15px 10px;background:#f9f9f9;width:130px;text-align:right;font-weight:bold">操作:</td>
			<td style="padding:15px 10px;">测试</td>
		</tr>
		<tr>
			<td style="padding:15px 10px;background:#f9f9f9;width:130px;text-align:right;font-weight:bold">操作:</td>
			<td style="padding:15px 10px;">测试</td>
		</tr>
		<tr>
			<td style="padding:15px 10px;background:#f9f9f9;width:130px;text-align:right;font-weight:bold">操作:</td>
			<td style="padding:15px 10px;">
				<a>回复</a> | 
				<a>删除</a>
			</td>
		</tr>
	</table>
</body>
</html>