<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title> 
<link rel="stylesheet" href="__HOMECSS__/base.css" media="all">
<link rel="stylesheet" href="__HOMECSS__/page_guang.css" media="all">
<link rel="stylesheet" href="__HOMECSS__/waterfall.css" media="all">
<link rel="stylesheet" href="__HOMECSS__/toTop.css" media="all">

<script src="__PUBLIC__/Js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/Js/firstWaterfall.js"></script>
<style>
.pin{
    float:left;
}
</style>
<!--加载顶部文件-->
<include file="./Mls/Home/Common/header.html" />
<include file="./Mls/Home/Common/header_bg.html" />
<include file="./Mls/Home/Common/navbar.html" />
<load file="__HOMEJS__/jquery.scrollToTop.min.js" />

<script>
	$(function(){
		//置顶按钮
		$("#toTop").scrollToTop(1000);
		//添加子类
		$(".listP").each(function(){
			var tid = $(this).attr('flag');
			$.post('__CONTROLLER__/showTypes',{id:tid},function(data){
				var aa = eval(data);
				for(var i in aa){
					$("div[flag="+tid+"]").append('<a class="red_f" href="__MODULE__/Guang/catalog/id/'+aa[i].id+'/pid/'+aa[i].p_id+'" target="_blank">'+aa[i].name+'</a>');
				}
			});
		});
	})	
</script>
</head>

<a href="#top" id="toTop"></a>
<div class="content_fluid" style="width:1200px;"  >
    <div  id="main" class="goods_wall" style="width: 100%; position: relative;" pata-id="<{$id}>">	
        <div style="" class="corner_notic pin"> 
            <div class="sidebar_rec" style="height:265px;"> 
                <div class="list"> 
					<volist name="cata" id="ca">
					 <h3><span target="_blank" flag="<{$ca.id}>"><{$ca.name}></span> </h3> 
					 <div class="cont listP" flag="<{$ca.id}>" > 
                           <!--  <a class="red_f" href="__MODULE__/Guang/catalog/id/<{$ca.id}>/pid/<{$ca.p_id}>">11</a> -->                    
					 </div> 
					 </volist>

                </div> 
            </div> 
        </div>

        <div coli="0" col="1" style="width: 960px;float:left;" class="corner_nav"> 
            <ul class="cata_types"> 
                <li><a href="__CONTROLLER__/firstCatalog/id/<{$id}>/way/pop" class="">流行</a></li>		
		<li><a href="__CONTROLLER__/firstCatalog/id/<{$id}>/way/hot" class="">热销</a></li>		
		<li><a href="__CONTROLLER__/firstCatalog/id/<{$id}>/way/newUp" class="">上新</a></li>
               <!--  <li class="last"><a target="_blank" href="">夏季新品</a></li>  -->
            </ul> 
        </div>
		

        <volist name="result" id='re'>
        <div class="pin poster_grid retsop poster_wall"> 
            <div class="new_poster"> 
                <div class="np_pic hover_pic"> 
                    <div class="price">
                        <{$re.gprice}>
                    </div> 
                    <a class="pic_load" href="__MODULE__/Share/index/id/<{$re.gid}>" target="_blank" title="<{$re.gname}>"><img class="goods_pic" src="__PUBLIC__/<{$re.gpic}>" alt="<{$re.gname}>" width="226" /></a> 
                    <div style="display: none;" class="like_merge"> 
                        <a class="right_f poster_likes " href="javascript:void(0)"> <i class="like_status lm_like">&nbsp;</i> </a> 
                        <a class="right_f poster_forward" href="javascript:void(0)"><em class="lm_shouji">&nbsp;</em>收进杂志</a> 
                    </div> 
                </div> 
                <div class="title"> 
                    <p><a href="__MODULE__/Share/index/id/<{$re.gid}>" target="_blank"><{$re.gname}></a></p> 
                </div> 
                <div class="clear_f"></div> 
                <div class="comm_num twiiter_box"> 
                    <a class="pl" href="__MODULE__/Share/index/id/<{$re.gid}>" target="_blank">销量（<{$re.gbuy}>）</a> 
                    <a isshowlike="1" s_uid="85591250" class="left_f poster_likes likes " href="javascript:void(0)"> <b class="likes_status"> <i class="lm_love2">&nbsp;</i>喜欢 </b> <span class="red_f f14_f poster_like_num">23215</span> </a> 
                </div> 
                <div class="np_share comment_panel"> 
                    <!-- <a class="avatar32_f trans07 shopTips" href="/shop/193784" user_id="193784" target="_blank"><img src="http://d05.res.meilishuo.net/pic/H/8e/0b/e8884dffc49c0882d8cd41b38e2d_200_200.ch.jpg" /></a>  -->
                    <!-- <p class="ml42_f"><a href="/shop/193784" target="_blank">静夜思女装坊</a></p> --> 
                    <p class="commentHover t_idt"><{$re.gsa}></p> 
                    <div class="clear_f"></div> 
                </div> 
            </div>
        </div>
        </volist>

    </div>
</div>




