<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/bootstrap.min.css">
</head>
<body >
	<div style="background:#F2F0F5 " class="panel-heading">
		<input type="text" class="">
		<b style="margin:0px 10px;" class="btn btn-info">查询</b>
	</div>
	<table style="vertical-align:middle" align="center" class="table table-hover table-striped">
		<tr >
			<th>编号</th>
			<th>编号</th>
		</tr>
		<tr>
			<td style="vertical-align:middle">都比</td>
			<td>
			<a class="btn btn-info" href="">修改</a> &nbsp;&nbsp;
				<a class="btn btn-danger" href="">删除</a>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">都比</td>
			<td>
			<a class="btn btn-info" href="">修改</a> &nbsp;&nbsp;
				<a class="btn btn-danger" href="">删除</a>
			</td>
		</tr>
	</table>
</body>
</html>