 <head>
<meta charset="utf-8">
<title>招商首页 - 美丽说</title>

<link rel="stylesheet" href="__STORECSS__/settled_odds.css" media="all">
<link rel="stylesheet" href="__STORECSS__/settled_standard.css" media="all">
<!--载入顶部文件-->
<include file="./Mls/Store/Common/header.html" />

<div class="container">
	<h3 class="page_title">招商标准</h3>
	<div class="content">
		<ul style="margin:0px 0px 10px;font-size:14px;background-color:#ffffff;padding:0px;list-style-type:none;line-height:22px;font-family:arial;color:#666666;">
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<div style="padding:0px;margin:0px 0px 10px;font-family:arial;font-size:14px;"> <strong><span style="font-family:微软雅黑, 'microsoft yahei';">一、普通类</span></strong> 
				</div>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p style="padding:0px;font-family:arial;font-size:14px;margin-top:0px;margin-bottom:0px;">
					<span style="font-family:微软雅黑, 'microsoft yahei';">1、 商家入驻经营类目需是以下类目的一种：</span> <strong><span style="font-family:微软雅黑, 'microsoft yahei';">女装、女包、女鞋、配饰、家居、食品</span></strong> 
				</p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p style="padding:0px;font-family:arial;font-size:14px;margin-top:0px;margin-bottom:0px;">
					<strong>
						<span style="font-family:微软雅黑, 'microsoft yahei';">
							&nbsp; &nbsp; &nbsp; （
							<strong style="color:#666666;font-family:arial;font-size:14px;line-height:22px;background-color:#ffffff;">
								<span style="font-family:微软雅黑, 'microsoft yahei';">
									<strong style="color:#666666;font-family:arial;font-size:14px;line-height:22px;background-color:#ffffff;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">童装、</span>
									</strong>
									男装为定向招商，入驻请联系企业QQ
								</span>
							</strong>
						</span>
					</strong>
					<strong>800066168</strong>
					<strong>
						<span style="font-family:微软雅黑, 'microsoft yahei';">
							<strong style="font-family:arial;">
								<span style="font-family:微软雅黑, 'microsoft yahei';">咨询）</span>
							</strong>
						</span>
					</strong>
				</p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p style="padding:0px;font-family:arial;font-size:14px;margin-top:0px;margin-bottom:0px;">
					<span style="font-family:微软雅黑, 'microsoft yahei';">2、 商家入驻经营的商品需与美丽说用户年龄风格相符，其中中老年服装等商不在招商范围之内</span>
				</p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p style="padding:0px;font-family:arial;font-size:14px;margin-top:0px;margin-bottom:0px;">
					<span style="font-family:微软雅黑, 'microsoft yahei';">3、 非淘宝天猫等其他电商，具有一定的网店运营能力，符合美丽说风格也可申请入驻</span>
				</p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p style="padding:0px;font-family:arial;font-size:14px;margin-top:0px;margin-bottom:0px;">
					<span style="font-family:微软雅黑, 'microsoft yahei';">4、 线下实体店等没有线上店铺的商家，符合美丽说风格，提供相关资质也可申请入驻</span>
				</p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<ul style="margin:0px 0px 10px;font-size:14px;padding:0px;list-style-type:none;line-height:22px;font-family:arial;color:#666666;background-color:#ffffff;">
					<li style="padding:0px;list-style-type:none;margin:0px;">
						<div style="padding:0px;margin:0px 0px 10px;">
							<span style="font-family:微软雅黑, 'microsoft yahei';">5、 商家在淘宝的店铺需要同时满足以下条件</span>
						</div>
						<table class=" noBorderTable" style="margin:0px;padding:0px;border-spacing:0px;" width="400">
							<tbody>
								<tr>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">其他店铺资质维度</span>
									</td>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">资质条件</span>
									</td>
								</tr>
								<tr>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">信用等级</span>
									</td>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">&gt;=1钻及以上</span>
									</td>
								</tr>
								<tr>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">好评率</span>
									</td>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">&gt;=97%</span>
									</td>
								</tr>
								<tr>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">店铺DSR（三项分别）</span>
									</td>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">平均&gt;=4.6</span>
									</td>
								</tr>
								<tr>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">商品数</span>
									</td>
									<td style="padding:10px;margin:0px;border-style:solid !important;border-color:#d2d2d2 !important;">
										<span style="font-family:微软雅黑, 'microsoft yahei';">&gt;=40个</span>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
					<li style="padding:0px;list-style-type:none;margin:0px;">
						<p style="padding:0px;margin-top:0px;margin-bottom:0px;">
							<span style="font-family:微软雅黑, 'microsoft yahei';">6、 天猫店铺需要满足：店铺DSR（三项分别）平均&gt;=4.6</span>
						</p>
					</li>
				</ul>
				<ul style="margin:0px 0px 10px;font-size:14px;padding:0px;list-style-type:none;line-height:22px;font-family:arial;color:#666666;background-color:#ffffff;">
					<li style="padding:0px;list-style-type:none;margin:0px;">
						<p style="padding:0px;margin-top:0px;margin-bottom:0px;">
							<span style="font-family:微软雅黑, 'microsoft yahei';">7、</span>
							<span style="font-family:微软雅黑, 'microsoft yahei';">商家需提供资质审核信息</span>
						</p>
					</li>
				</ul>
				<div style="float:left;margin-right:20px;">
					<div style="margin:0px 0px 10px;padding:0px;color:#666666;font-size:14px;line-height:22px;font-family:arial;">
						<span style="font-family:微软雅黑, 'microsoft yahei';">个人客户：</span>
					</div>
					<table class=" noBorderTable" style="margin:0px;padding:0px;border-spacing:0px;color:#666666;font-size:14px;line-height:22px;font-family:arial;" width="400">
						<tbody>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">资质清单</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">备注</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">个人身份证</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">扫描件、复印件或照片</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">个人持证照及半身照</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">照片</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">身份证信息</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">
										填写身份证 号码、姓名、 到期时间
										<br></span>
								</td>
							</tr>
						</tbody>
					</table>
					<p>
						<br></p>
				</div>
				<div style="float:left;">
					<div style="margin:0px 0px 10px;padding:0px;color:#666666;font-size:14px;line-height:22px;font-family:arial;">
						<span style="font-family:微软雅黑, 'microsoft yahei';">企业客户：</span>
					</div>
					<table class=" noBorderTable" style="margin:0px;padding:0px;border-spacing:0px;color:#666666;font-size:14px;line-height:22px;font-family:arial;">
						<tbody>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">资质清单</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">备注</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">企业法人代表身份证</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">扫描件、复印件或照片</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">个人持证照及半身照</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">照片</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">身份证信息</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">填写身份证号码、姓名、到期时间</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">营业执照</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">
										通过最新年检且在有效期内
										<br>加盖企业公章</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">开户许可证</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">加盖企业公章</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">税务登记证</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">加盖企业公章</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">组织机构代码证</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">加盖企业公章</span>
								</td>
							</tr>
							<tr>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">店铺名称</span>
								</td>
								<td style="margin:0px;padding:10px;border-style:solid !important;border-color:#d2d2d2 !important;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">
										参照规范填写美丽说店铺名称
										<br>
										<br></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p style="padding:0px;font-family:arial;font-size:14px;margin-top:0px;margin-bottom:0px;">
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p style="padding:0px;font-family:arial;font-size:14px;margin-top:0px;margin-bottom:0px;">
					<strong>
						<span style="font-family:微软雅黑, 'microsoft yahei';">二、美妆</span>
					</strong>
				</p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';background:#d9d9d9;">
						<span style="color:#666666;font-family:微软雅黑, 'microsoft yahei';font-size:14px;line-height:22px;background-color:#ffffff;">美妆招商标准：</span>
					</span>
				</p>
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';">1）</span>
					<span style="font-family:微软雅黑, 'microsoft yahei';">
						美丽说美妆属于
						<strong>邀约式入驻</strong>
						的方式。以品牌店方式开店，即一个品牌一个店铺形式进行售卖。
					</span>
				</p>
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';">2）</span>
					<span style="font-family:微软雅黑, 'microsoft yahei';">
						符合美丽说美妆风格调性，品牌市场定位（即品牌在市场上所处的位置）具备年轻、潮流、时尚等元素。招商方向以韩、日、台湾、欧美地区为主要方向，价格定位：平均单价不低于50元，受众人群为30岁以下，追逐潮流，敢于尝试新产品的女性群体。
					</span>
				</p>
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';">
						其中，如为国货品牌年销售金额须超过亿元;如为淘品牌须卖点突出，包装及外观独特，符合美妆流行趋势。另需满足以下条件其一即可：主打单品在淘宝类目搜索综合排名前100以内；或入驻相关电商平台（聚美、京东、乐峰），主打单品在类目搜索前50名。
					</span>
				</p>
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';">3）</span>
					<span style="font-family:微软雅黑, 'microsoft yahei';">美丽说美妆招商对象为非个人商户，且只针对中国大陆（不包括香港、澳门特别行政区</span>
				</p>
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';">4）</span>
					<span style="font-family:微软雅黑, sans-serif">
						<span style="font-family:微软雅黑, 'microsoft yahei';">
							美丽说美妆卖家需遵守 美丽说（Meilishuo.com）服务条款 （http://www.meilishuo.com/agree ）及相关协议，同时需满足
						</span>
						<span style="font-family:微软雅黑, 'microsoft yahei';background-image:none;background-attachment:scroll;background-position:0% 0%;background-repeat:repeat;">美妆店铺资质标准</span>
						<span style="font-family:微软雅黑, 'microsoft yahei';">且通过第三方征信公司认证。</span>
					</span>
				</p>
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';">5）</span>
					<span style="font-family:微软雅黑, 'microsoft yahei';">以上提交的所有材料，必须加盖企业公章；请务必确保您申请入驻提供的相关资质的真实性。</span>
				</p>
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';"></span>
				</p>
				<p>
					<br></p>
			</li>
			<li style="padding:0px;list-style-type:none;margin:0px;">
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';">美妆商户资费标准:</span>
				</p>
				<p>
					<span style="font-family:微软雅黑, 'microsoft yahei';">为鼓励商户入驻，目前美丽说美妆实行免佣金政策。</span>
				</p>
				<div>
					<strong>
						<span style="font-family:微软雅黑, 'microsoft yahei';">联系人：高小姐，</span>
						<span style="font-size:14px;line-height:1.5;font-family:微软雅黑, 'microsoft yahei';">yanbogao@meilishuo.com</span>
					</strong>
				</div>
				<p style="padding:0px;font-family:arial;font-size:14px;margin-top:0px;margin-bottom:0px;">
					<br></p>
			</li>
		</ul>
	</div>
</div>
<!--载入底部文件-->
<include file="./Mls/Store/Common/footer.html" />