.tb-dialog {
	left:-9999px;
	top:-9999px;
	position:absolute;
	z-index:10000389;
	width:540px;
	margin-left:-8px;
	padding:11px;
	background:rgba(34,34,34,.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#1646464', EndColorStr='#1646464')
}
.tb-dialog .tb-stdmod-header,.tb-dialog .tb-overlay-header {
	background-color:#2D2D2D;
	color:#fff;
	font-size:12px;
	height:28px;
	line-height:28px;
	padding-left:12px;
	z-index:10000388;
	cursor:move
}
.tb-dialog .tb-dialog-bd,.tb-dialog .tb-stdmod-body,.tb-dialog .tb-overlay-body {
	position:relative;
	z-index:10000388;
	display:block;
	border:1px solid #A6A6A6;
	border-top-width:0;
	background-color:#fff;
	zoom:1
}
.tb-dialog .tb-dialog-ft {
	position:absolute;
	z-index:10000388;
	top:8px;
	right:16px
}
.tb-dialog .tb-ext-close,.tb-dialog .tb-overlay-close {
	background:url(//gdp.alicdn.com/tps/i2/T1LbYvXX8hXXcbU07.-12-12.gif) no-repeat scroll 0 6px transparent;
	color:#000;
	cursor:pointer;
	font-size:14px;
	height:18px;
	overflow:hidden;
	position:absolute;
	right:16px;
	text-decoration:none;
	text-indent:-99px;
	top:14px;
	width:15px;
	z-index:10000388;
	opacity:.5;
	filter:alpha(opacity=50)
}
.tb-dialog a:hover {
	opacity:1!important
}
.tb-dialog-dd .tb-dialog-hd,.ui-dd {
	cursor:move
}
.tb-dialog-mask,.tb-ext-mask .tb-overlay-mask {
	position:absolute;
	z-index:10000388;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	background-color:#fff;
	opacity:0;
	filter:alpha(opacity=0)
}
.tb-dialog-loading {
	padding:20px;
	color:#000;
	text-align:center
}
.tb-dialog button {
	margin-right:15px;
	padding:4px 8px;
	border:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#000;
	background-color:#d5d5d5
}
.tb-dialog iframe.ifr {
	display:block;
	width:100%;
	height:120px;
	border:0
}
.tb-dialog .btn {
	display:inline-block;
	padding:4px 16px 6px;
	border:1px solid #D4D4D4;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	line-height:12px;
	vertical-align:middle
}
.tb-dialog .btn-ok {
	background-color:#2D2D2D;
	color:#fff;
	margin-right:5px
}
.tb-dialog a:hover.btn-ok {
	background-color:#555
}
.tb-dialog .btn-cancel {
	background-color:#fff;
	color:#000
}
.tb-dialog .btn-footer {
	margin-left:220px
}
.tb-dialog-mask-hidden,.ks-dialog-mask-hidden {
	display:none
}
.tb-overlay-hidden,.ks-overlay-hidden {
	visibility:hidden
}
.ks-track,.ks-track-hover,.ks-track-active,.ks-scrollbar,.ks-arrowup,.ks-arrowup-hover,.ks-arrowup-active,.ks-arrowdown,.ks-arrowdown-hover,.ks-arrowdown-active,.ks-drag,.ks-drag-hover,.ks-drag-active,.ks-dragtop,.ks-dragbottom,.ks-dragcenter {
	width:8px
}
.ks-track-hover {
	background-color:#eee
}
.ks-scrollbar {
	position:absolute;
	top:0;
	right:0;
	bottom:0
}
.ks-track {
	position:absolute
}
.ks-arrowup,.ks-arrowdown,.ks-arrowup a,.ks-arrowdown a {
	display:none;
	text-indent:-1000px;
	width:8px;
	height:8px;
	overflow:hidden;
	border:1px solid #000;
	right:0;
	position:absolute
}
.ks-arrowup a,.ks-arrowdown a {
	border:0
}
.ks-arrowup {
	background-color:#959695;
	top:0
}
.ks-arrowup-hover {
	background-color:#9CCAE3
}
.ks-arrowup-active {
	background-color:#3C7FB1
}
.ks-arrowdown {
	background-color:#959695;
	bottom:0
}
.ks-arrowdown-hover {
	background-color:#9CCAE3
}
.ks-arrowdown-active {
	background-color:#3C7FB1
}
.ks-drag {
	background-color:#cbcbcb;
	position:absolute
}
.ks-drag .ks-dragtop,.ks-drag .ks-dragbottom {
	display:none
}
.ks-drag .ks-dragcenter {
	position:absolute;
	top:50%;
	margin-top:-10px;
	height:20px
}
.ks-drag-hover {
	background-color:#939393
}
#toolbar .hidden,#toolbar .tb-hidden {
	display:none!important
}
#toolbar {
	height:30px;
	width:100%;
	background:#fff;
	border-bottom:1px solid #e4e4e4;
	position:fixed;
	_position:absolute;
	_top:expression(document.getElementById('wrapper').scrollTop+'px');
	z-index:10000372;
	*zoom:1
}
#toolbar:before,#toolbar:after {
	display:table;
	content:""
}
#toolbar:after {
	clear:both
}
#toolbar .operater {
	position:absolute;
	left:0
}
#toolbar .operater .toggleTrigger {
	*zoom:1;
	height:30px;
	line-height:30px;
	width:110px
}
#toolbar .operater .toggleTrigger:before,#toolbar .operater .toggleTrigger:after {
	display:table;
	content:""
}
#toolbar .operater .toggleTrigger:after {
	clear:both
}
#toolbar .operater .toggleTrigger span {
	display:block;
	padding:0 15px;
	float:left;
	font-weight:400
}
#toolbar .operater .toggleTrigger i {
	display:block;
	float:left;
	width:30px;
	height:30px;
	border-right:1px solid #dcdcdc;
	background:url(//gdp.alicdn.com/tps/i1/T1h8zCXl8fXXXjMBLc-28-28.gif) no-repeat 1px 14px;
	cursor:pointer
}
#toolbar .operater .toggleTrigger i:hover {
	background-position:1px -8px
}
#toolbar .operater .togglePanel {
	width:78px;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc
}
#toolbar .operater .togglePanel a {
	display:block;
	height:30px;
	line-height:30px;
	color:#333;
	background:#fff;
	text-align:center
}
#toolbar .operater .togglePanel a:hover {
	background:#dbdbdb;
	text-decoration:none
}
#toolbar .operater .togglePanel a.del {
	color:#333
}
#toolbar .operater .togglePanel a.del:hover {
	color:#f33
}
#toolbar .operater .hide {
	display:none
}
#toolbar .hover {
	cursor:pointer;
	background-color:#e4e4e4
}
#toolbar .optbar {
	*zoom:1;
	position:absolute;
	width:98px;
	height:30px;
	overflow:hidden;
	right:20px
}
#toolbar .optbar:before,#toolbar .optbar:after {
	display:table;
	content:""
}
#toolbar .optbar:after {
	clear:both
}
#toolbar .optbar a {
	display:block;
	float:left;
	height:22px;
	line-height:22px;
	padding:0 10px;
	margin:3px 0;
	border-width:1px 0 1px 1px;
	border-style:solid;
	border-color:#ccc;
	color:#000;
	background:#f8f8f8
}
#toolbar .optbar a:hover {
	text-decoration:none;
	background:#e4e4e4
}
#toolbar .optbar a.release {
	border:1px solid #86cece;
	background:#b7e2e2
}
#toolbar .optbar a.release:hover {
	background:#86cece
}
#toolbar .ds-msgs {
	position:absolute;
	left:45%;
	text-align:center;
	height:30px;
	z-index:10000371;
	top:0
}
#toolbar .ds-msgs .txt {
	background-color:#ffffe5;
	border:1px solid #f0c36d;
	display:inline-block;
	margin-top:2px;
	padding:3px 36px;
	text-align:left
}
#toolbar .ds-msgs .error {
	border:1px solid #ff8080;
	color:red
}
#toolbar .ds-msgs .error .txt-icon {
	display:inline-block;
	height:18px;
	width:16px;
	vertical-align:middle;
	margin-right:5px;
	background:url(//gdp.alicdn.com/tps/i2/T1Knu8XmNgXXXXXXXX-93-83.png) no-repeat scroll -45px 0
}
#vl-toolbar .hidden,#vl-toolbar .tb-hidden {
	display:none!important
}
#vl-toolbar .operater .toggleTrigger {
	*zoom:1;
	height:30px;
	line-height:30px;
	width:110px
}
#vl-toolbar .operater .toggleTrigger:before,#vl-toolbar .operater .toggleTrigger:after {
	display:table;
	content:""
}
#vl-toolbar .operater .toggleTrigger:after {
	clear:both
}
#vl-toolbar .operater .toggleTrigger span {
	display:block;
	padding:0 15px;
	float:left;
	font-weight:400
}
#vl-toolbar .operater .toggleTrigger i {
	display:block;
	float:left;
	width:30px;
	height:30px;
	border-right:1px solid #dcdcdc;
	background:url(//gdp.alicdn.com/tps/i1/T1h8zCXl8fXXXjMBLc-28-28.gif) no-repeat 1px 14px;
	cursor:pointer
}
#vl-toolbar .operater .toggleTrigger i:hover {
	background-position:1px -8px
}
#vl-toolbar .operater .togglePanel {
	width:78px;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc
}
#vl-toolbar .operater .togglePanel a {
	display:block;
	height:30px;
	line-height:30px;
	color:#333;
	background:#fff;
	text-align:center
}
#vl-toolbar .operater .togglePanel a:hover {
	background:#dbdbdb;
	text-decoration:none
}
#vl-toolbar .operater .togglePanel a.del {
	color:#333
}
#vl-toolbar .operater .togglePanel a.del:hover {
	color:#f33
}
#vl-toolbar .operater .hide {
	display:none
}
#vl-toolbar .hover {
	cursor:pointer;
	background-color:#e4e4e4
}
#vl-toolbar .optbar {
	*zoom:1;
	position:absolute;
	width:98px;
	height:30px;
	overflow:hidden;
	right:20px
}
#vl-toolbar .optbar:before,#vl-toolbar .optbar:after {
	display:table;
	content:""
}
#vl-toolbar .optbar:after {
	clear:both
}
#vl-toolbar .optbar a {
	display:block;
	float:left;
	height:22px;
	line-height:22px;
	padding:0 10px;
	margin:3px 0;
	border-width:1px 0 1px 1px;
	border-style:solid;
	border-color:#ccc;
	color:#000;
	background:#f8f8f8
}
#vl-toolbar .optbar a:hover {
	text-decoration:none;
	background:#e4e4e4
}
#vl-toolbar .optbar a.release {
	border:1px solid #86cece;
	background:#b7e2e2
}
#vl-toolbar .optbar a.release:hover {
	background:#86cece
}
#vl-toolbar .ds-msgs {
	position:absolute;
	left:45%;
	text-align:center;
	height:30px;
	z-index:10000371;
	top:0
}
#vl-toolbar .ds-msgs .txt {
	background-color:#ffffe5;
	border:1px solid #f0c36d;
	display:inline-block;
	margin-top:2px;
	padding:3px 36px;
	text-align:left
}
#vl-toolbar .ds-msgs .error {
	border:1px solid #ff8080;
	color:red
}
#vl-toolbar .ds-msgs .error .txt-icon {
	display:inline-block;
	height:18px;
	width:16px;
	vertical-align:middle;
	margin-right:5px;
	background:url(//gdp.alicdn.com/tps/i2/T1Knu8XmNgXXXXXXXX-93-83.png) no-repeat scroll -45px 0
}
.tb-dialog .btn-footer {
	margin-left:220px;
	margin-top:20px
}
.tb-dialog .release-result .btn-footer {
	margin-left:210px
}
.toolbar {
	background:#d4d4d4!important;
	border-bottom:1px solid #b0b0b0!important;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(0,0,0,.1)
}
.toolbar-actions {
	overflow:hidden;
	margin-left:12px
}
.toolbar-actions li {
	float:left;
	padding-top:4px
}
.toolbar-actions li.toolbar-sep {
	width:1px;
	height:24px;
	overflow:hidden;
	margin-top:4px;
	background:url(//gdp.alicdn.com/tps/i1/T1It65XiXdXXXe8Isb-100-218.png) no-repeat right -46px;
	padding:0;
	margin-right:12px
}
.toolbar-actions li.toolbar-disable {
	color:#9c9b9b;
	line-height:23px
}
.toolbar-actions li a {
	float:left;
	line-height:23px;
	margin-right:12px;
	color:#333;
	position:relative;
	zoom:1
}
.toolbar-actions li a span {
	float:left;
	height:23px;
	cursor:pointer;
	padding:0 6px
}
.toolbar-actions li a.active,.toolbar-actions li a:hover {
	background:url(//gdp.alicdn.com/tps/i1/T1It65XiXdXXXe8Isb-100-218.png) no-repeat
}
.toolbar-actions li a.active span,.toolbar-actions li a:hover span {
	background:url(//gdp.alicdn.com/tps/i1/T1It65XiXdXXXe8Isb-100-218.png) no-repeat right -23px
}
.toolbar-opts {
	position:absolute;
	right:20px;
	top:3px
}
.toolbar-opts a {
	float:left;
	margin-left:5px;
	color:#333;
	text-align:center;
	background:url(//gdp.alicdn.com/tps/i1/T1It65XiXdXXXe8Isb-100-218.png) no-repeat 0 -70px
}
.toolbar-opts a span {
	float:left;
	height:24px;
	line-height:24px;
	padding:0 10px;
	cursor:pointer;
	background:url(//gdp.alicdn.com/tps/i1/T1It65XiXdXXXe8Isb-100-218.png) no-repeat right -94px
}
.toolbar-opts a:hover {
	background-position:0 -118px
}
.toolbar-opts a:hover span {
	background-position:right -142px
}
.toolbar-opts a:active {
	background-position:0 -166px
}
.toolbar-opts a:active span {
	background-position:right -190px
}
.toolbar-opts a.release span {
	font-weight:700;
	width:70px
}
.tb-dialog-mask-hidden,.tb-overlay-mask-hidden {
	display:none
}
.item-view .item-checkbox,.item-view .check-all-box,.bc-tree .cat-checkbox,.cat-edit-wrapper .cat-checkbox,.pagination .page-pre,.pagination .page-next,.ks-cal-call .ks-cal-hd .ks-prev,.ks-cal-call .ks-cal-hd .ks-next,.item-info .del-cat,.opt-tips-icon,.partial-checkbox {
	background-image:url(//gdp.alicdn.com/tps/i1/T1NN3HXn8dXXbnihwP-227-109.png)
}
.ellipsis {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
#container {
	margin-top:0
}
#toolbar {
	background-color:transparent;
	border:0;
	display:block;
	top:90px;
	height:auto
}
#toolbar .ds-msgs {
	position:static;
	left:0;
	height:auto
}
#toolbar .ds-msgs .txt {
	background-color:#F3E5B6;
	border:0;
	margin-left:0;
	padding:9px 36px;
	font-size:14px;
	font-weight:700
}
.page-mask {
	background-color:#000;
	opacity:.1;
	filter:alpha(opacity=10);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:388
}
.opt-waiting-wrapper {
	position:relative;
	top:50%;
	left:50%;
	width:73px;
	height:73px
}
.opt-waiting-wrapper .opt-waiting {
	position:absolute;
	top:-50%;
	left:-50%;
	width:73px;
	height:73px
}
#feedback_hane {
	bottom:0!important;
	right:10px!important
}
#wrapper {
	overflow:hidden
}
.items-table {
	width:100%;
	table-layout:fixed
}
.items-tb-hd {
	background-color:#ededed;
	border:1px solid #e0e0e0
}
.items-tb-hd tr {
	height:28px
}
.items-tb-hd th {
	font-weight:700;
	color:#666
}
.items-tb-hd th.col-price {
	padding-left:15px;
	text-align:left
}
.items-tb-hd .col-categories {
	text-align:left;
	padding-left:46px
}
.item-info td {
	padding:10px 0;
	text-align:center;
	border-bottom:1px solid #e0e0e0
}
.item-info .title {
	text-align:left;
	padding-left:21px
}
.item-info .title .title-wrapper {
	position:relative;
	zoom:1;
	padding-left:92px;
	min-height:40px;
	_height:40px
}
.item-info .title .title-wrapper .item-checkbox {
	position:absolute;
	left:0;
	top:13px;
	margin-right:18px
}
.item-info .title .title-wrapper a {
	cursor:pointer
}
.item-info .title .title-wrapper .item-pic {
	position:absolute;
	left:30px;
	top:0
}
.item-info .title .title-wrapper .item-pic,.item-info .title .title-wrapper .item-pic a {
	display:table-cell;
	vertical-align:middle;
	*display:block;
	*font-size:35px;
	*font-family:Arial;
	*line-height:40px;
	text-align:center;
	width:40px;
	height:40px;
	overflow:hidden
}
.item-info .title .title-wrapper .item-pic img {
	max-height:40px;
	max-width:40px;
	display:inline;
	border:0;
	vertical-align:middle;
	text-align:center;
	overflow:hidden
}
.item-info .title .title-wrapper .title-text {
	color:#3376df;
	display:table-cell;
	vertical-align:middle;
	*display:block;
	*font-family:Arial;
	height:40px
}
.item-info .price {
	text-align:left;
	padding-left:15px
}
.item-info .create-time {
	color:#bfbfbf
}
.item-info .status {
	color:#999
}
.item-info-hover {
	background-color:#f6f6f6
}
.item-info-checked {
	background-color:#fbf4e2!important
}
.item-info-uncat .title-text {
	font-weight:700
}
.item-info .opt a {
	color:#3376df
}
.cat-edit-wrapper {
	position:relative;
	zoom:1
}
.cat-edit-hd a {
	position:relative;
	zoom:1;
	display:block;
	border:1px solid #e0e0e0;
	width:77px;
	height:21px;
	line-height:21px;
	margin:0 auto;
	background:#fff;
	text-indent:8px;
	text-align:left;
	color:#666
}
.cat-edit-hd a:hover {
	background:url(//gdp.alicdn.com/tps/i4/T1anr3XoViXXXcZ8ba-7-21.png) repeat-x;
	text-decoration:none;
	color:#666
}
.cat-edit-hd a i {
	width:7px;
	height:4px;
	overflow:hidden;
	background:url(//gdp.alicdn.com/tps/i2/T1jSEXXkBgXXcdXhPr-7-4.png) no-repeat;
	position:absolute;
	left:61px;
	top:9px
}
.cat-edit-bd {
	width:200px;
	height:200px;
	overflow:hidden;
	display:none;
	z-index:2;
	position:absolute;
	left:70px;
	_left:67px;
	top:22px;
	text-align:left;
	border:1px solid #ccc;
	background:#fff;
	-webkit-box-shadow:0 2px 3px 0 #ccc;
	box-shadow:0 2px 3px 0 #ccc
}
.cat-edit-bd .edit-cat-popup {
	height:200px
}
.cat-edit-bd li {
	margin-bottom:8px
}
.cat-edit-bd li a {
	display:block;
	padding-left:12px;
	padding-right:12px;
	color:#666;
	height:23px;
	line-height:23px;
	overflow:hidden
}
.cat-edit-bd li:hover {
	background:#daecfb;
	color:#333
}
.cat-edit-bd li li {
	margin-bottom:0
}
.cat-edit-bd .gray,.cat-edit-bd .gray:hover {
	color:#999;
	background:0;
	text-decoration:none;
	cursor:not-allowed
}
.cat-edit-bd .disabled,.cat-edit-bd .disabled:hover {
	color:#999;
	background:0;
	text-decoration:none;
	cursor:not-allowed
}
.item-status-catedit-opened .cat-edit-wrapper {
	z-index:2
}
.item-status-catedit-opened .cat-edit-bd {
	display:block
}
.item-status-catedit-opened .cat-edit-hd a,.item-status-catedit-opened .cat-edit-hd a:hover {
	background:#f1f1f1
}
.item-info-last3 .cat-edit-bd {
	top:-202px
}
.categories {
	text-align:left!important;
	padding-left:40px!important
}
.categories-wrap {
	position:relative
}
.categories-wrap .show-more {
	position:relative;
	zoom:1;
	cursor:pointer;
	height:18px;
	line-height:18px;
	line-height:21px\9;
	_line-height:18px;
	vertical-align:middle;
	padding:0 16px 0 5px;
	display:inline-block;
	color:#bfbfbf
}
.categories-wrap .show-more:hover {
	text-decoration:none
}
.categories-wrap .show-more i {
	position:absolute;
	top:4px;
	right:0;
	width:13px;
	height:13px;
	overflow:hidden;
	background:url(//gdp.alicdn.com/tps/i2/T10uH_XcBiXXX1azE.-13-13.png) no-repeat
}
.categories-wrap .cat-name-label {
	position:relative;
	display:block;
	padding:1px 0 1px 5px;
	width:100%;
	height:23px;
	line-height:23px;
	color:#999
}
.categories-wrap .cat-name-label:hover {
	text-decoration:none
}
.categories-popup {
	display:none;
	position:absolute;
	top:45px;
	left:4px;
	z-index:10;
	border:1px solid #ccc;
	background-color:#fff;
	padding:0;
	width:200px;
	-webkit-box-shadow:0 2px 3px 0 #ccc;
	box-shadow:0 2px 3px 0 #ccc
}
.categories-popup .cat-name-label {
	display:block;
	padding:0 22px 0 6px;
	width:172px
}
.categories-popup .cat-name-label:hover {
	background-color:#efefef;
	border:0;
	background:#d3e8fa
}
.no-items-tip {
	position:absolute;
	top:250px;
	left:300px;
	text-align:center;
	width:250px
}
.no-items-tip .tip-icon {
	background:url(//gdp.alicdn.com/tps/i1/T1CipYXe4jXXXXXXXX-19-19.gif) no-repeat scroll 0 0 #ffffe6;
	display:inline-block;
	width:19px;
	height:19px;
	line-height:19px;
	vertical-align:middle
}
.bigpic-popup .bigpic-popup-content {
	display:table-cell;
	vertical-align:middle;
	*display:block;
	*font-size:148px;
	*font-family:Arial;
	*line-height:170px;
	text-align:center;
	width:170px;
	height:170px
}
.bigpic-popup .bigpic-popup-content img {
	vertical-align:middle;
	max-height:170px;
	max-width:170px
}
.bigpic-popup s,.bigpic-popup b {
	border-color:transparent #CCC transparent transparent;
	border-style:dashed solid dashed dashed;
	border-width:9px;
	width:0;
	height:0;
	line-height:0;
	position:absolute;
	left:-19px;
	top:55px;
	z-index:100
}
.bigpic-popup b {
	border-color:transparent #FFF transparent transparent;
	left:-18px;
	z-index:101
}
.bigpic-overlay-hidden {
	visibility:hidden
}
.search {
	background:url(//gdp.alicdn.com/tps/i2/T1BLgbXidgXXaJA2Ya-6-38.png) repeat-x;
	padding:6px 0 3px 10px;
	height:32px;
	position:relative;
	z-index:2
}
.search .srch-cond-label {
	display:inline-block;
	height:24px;
	line-height:24px;
	margin-right:5px
}
.search .srch-input {
	height:22px;
	line-height:22px;
	border:1px solid #b4b4b4
}
.search .srch-input:focus {
	border-color:#74b9ef
}
.search .srch-cond {
	float:left;
	margin-right:16px
}
.search .srch-by-keyword .keyword-label {
	position:absolute;
	top:9px;
	left:15px;
	color:#a9a9a9
}
.search .srch-by-keyword .keyword-input {
	border-top-color:#C0C0C0;
	width:160px
}
.search .srch-by-price {
	position:relative;
	zoom:1;
	width:156px;
}
.search .srch-by-price .srch-cond-label {
	margin-bottom:4px\9
}
.search .srch-by-price .price-input {
	height:22px;
	width:45px
}
.search .srch-by-price .start-price {
	margin-right:3px
}
.search .srch-by-price .end-price {
	margin-left:3px
}
.search .srch-by-status {
	position:relative;
	zoom:1;
	z-index:100;
	cursor:pointer
}
.search .srch-by-status .selected-status {
	display:inline-block;
	width:92px;
	height:22px;
	line-height:22px;
	background:url(//gdp.alicdn.com/tps/i2/T1Zy64XkJjXXbGEeHX-15-22.png) repeat-x;
	text-indent:9px;
	border:1px solid #b4b4b4
}
.search .srch-by-status .dropdown-tips {
	position:absolute;
	right:3px;
	top:1px;
	width:15px;
	height:22px
}
.search .srch-by-status .dropdown-tips .i {
	border-color:#595959 #FFF #FFF;
	border-style:solid;
	border-width:4px 4px 0;
	height:0;
	left:49%;
	line-height:0;
	margin-left:-4px;
	margin-top:-1px;
	position:absolute;
	top:50%;
	width:0
}
.search .srch-by-status .status-list {
	visibility:hidden;
	background-color:#fff;
	border:1px solid #b4b4b4;
	position:absolute;
	width:92px;
	left:33px;
	top:22px
}
.search .srch-by-status .status-list li {
	cursor:pointer;
	padding-left:5px;
	padding-right:10px;
	padding:5px 8px;
	text-align:left
}
.search .srch-by-status .status-list li.status-selected {
	background-color:#d3e8fa
}
.search .srch-cond-submit {
	height:25px;
	border-left:1px solid #b8b8b8;
	padding-left:15px
}
.search .srch-cond-submit .srch-btn {
	display:inline-block;
	background:url(//gdp.alicdn.com/tps/i3/T1VnUaXh8hXXX0kjHj-60-25.png) no-repeat;
	color:#fff;
	width:60px;
	height:25px;
	line-height:23px;
	line-height:26px\9;
	*line-height:23px;
	vertical-align:middle;
	text-align:center;
	margin-left:5px;
	text-decoration:none;
	cursor:pointer
}
.search .srch-cond-submit .srch-btn-hover {
	background-color:#5a5a5a
}
.srch-by-status.hover .status-list {
	visibility:visible
}
.item-funcs {
	position:relative;
	z-index:1;
	height:36px;
	margin:6px 0
}
.item-opts {
	margin-right:10px;
	margin-top:7px;
	float:left
}
.item-opts li a:hover,.item-opts .batch-classify-active a {
	background-image:url(//gdp.alicdn.com/tps/i4/T1ILL4XctkXXX1zzc_-10-21.png);
	text-decoration:none
}
.item-opts li {
	float:left;
	margin-left:-1px;
	border:1px solid #cacaca
}
.item-opts li a {
	float:left;
	position:relative;
	zoom:1;
	height:21px;
	line-height:21px;
	line-height:24px\9;
	_line-height:21px;
	background:url(//gdp.alicdn.com/tps/i3/T1vOj3XitkXXcdWqHb-8-21.png) repeat-x;
	padding:0 19px;
	color:#333
}
.item-opts li a i {
	position:absolute;
	width:7px;
	height:4px;
	overflow:hidden;
	background:url(//gdp.alicdn.com/tps/i2/T1jSEXXkBgXXcdXhPr-7-4.png) no-repeat;
	right:12px;
	top:8px
}
.item-opts li.check-all-items {
	background-color:#f1f1f1;
	width:72px;
	height:21px;
	line-height:21px;
	margin-right:10px;
	margin-left:10px
}
.item-opts li.check-all-items .check-all-box {
	margin-right:3px;
	margin-left:9px
}
.item-opts li.check-all-items .check-all-text {
	display:inline-block;
	height:21px;
	line-height:21px
}
.item-opts li.batch-classify a {
	padding-right:30px
}
.item-opts li.batchshelf-disabled a {
	background-image:url(//gdp.alicdn.com/tps/i3/T1r_QpXd8cXXcdWqHb-8-21.png);
	cursor:not-allowed;
	color:#c2c2c2
}
.batch-classify-popup {
	width:200px;
	background-color:#fff;
	border:1px solid #cbcbcb;
	padding:10px 5px 0;
	position:absolute;
	left:81px;
	_left:75px;
	top:29px;
	width:240px;
	z-index:1;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.25);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,.25);
	box-shadow:1px 1px 2px rgba(0,0,0,.25)
}
.batch-classify-popup .bc-tree {
	height:264px;
	width:240px;
	overflow:hidden
}
.batch-classify-popup .separate-line {
	border-top:1px solid #cbcbcb
}
.batch-classify-popup .bottom {
	margin:5px 0
}
.batch-classify-popup .bottom .opt-tips {
	background-color:#ffffe5;
	border:1px solid #ffcc7f;
	display:inline-block;
	height:23px;
	padding:0 4px
}
.batch-classify-popup .bottom .opt-tips i {
	margin-right:3px
}
.batch-classify-popup .bottom .opt-tips i.opt-tips-icon {
	display:inline-block;
	height:16px;
	vertical-align:middle;
	width:13px;
	background-position:-70px -90px
}
.batch-classify-popup .bottom .opt-tips .text {
	display:inline-block;
	height:23px;
	line-height:23px;
	vertical-align:middle;
	color:#666
}
.batch-classify-popup .bottom .cmt-batch {
	background-color:#434343;
	border:1px solid #303030;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	height:23px;
	line-height:22px;
	margin-left:5px;
	text-align:center;
	text-decoration:none;
	vertical-align:top;
	width:58px
}
.batch-classify-popup .bottom .cmt-batch-hover {
	background-position:-45px -175px;
	cursor:pointer
}
.batch-classify-popup .bc-tree .cat-checkbox {
	display:inline-block;
	height:18px;
	width:15px;
	vertical-align:middle;
	margin-right:3px\9
}
.batch-classify-popup .bc-tree .fst-cat {
	margin-bottom:8px
}
.batch-classify-popup .bc-tree .snd-cat {
	margin-bottom:0
}
.batch-classify-popup .bc-tree .J_TNone .cat-checkbox {
	background-position:0 -88px
}
.batch-classify-popup .bc-tree .J_TPartial .cat-checkbox {
	background-position:-18px -90px;
	margin-top:4px
}
.batch-classify-popup .bc-tree .J_TAll .cat-checkbox {
	background-position:-36px -90px;
	margin-top:4px
}
.batch-classify-popup .bc-tree .cat-name {
	display:inline-block;
	width:220px;
	height:24px;
	line-height:24px;
	line-height:27px\9;
	_line-height:24px;
	vertical-align:middle;
	color:inherit;
	cursor:pointer
}
.batch-classify-popup .bc-tree .cat-name:hover {
	text-decoration:none
}
.batch-classify-popup .bc-tree .gray {
	color:#999
}
.item-checkbox,.check-all-box,.cat-checkbox {
	background-position:0 -90px;
	display:inline-block;
	height:13px;
	vertical-align:middle;
	width:15px
}
.item-checked,.all-checked,.cat-checked {
	background-position:-36px -90px
}
.partial-checked {
	background-position:-18px -90px
}
#vl-toolbar {
	height:0!important
}
#vl-toolbar .ds-msgs {
	top:45px
}
.pagination {
	float:right;
	height:29px;
	margin-right:10px
}
.pagination .page-pre {
	position:relative;
	background-position:0 0;
	display:inline-block;
	height:36px;
	width:37px;
	vertical-align:middle
}
.pagination .page-pre:hover {
	background-position:0 -39px
}
.pagination .pre-disabled,.pagination .pre-disabled:hover {
	background-position:-77px 0
}
.pagination .page-next {
	background-position:-37px 0;
	display:inline-block;
	height:36px;
	width:36px;
	vertical-align:middle;
	position:relative;
	margin-left:-4px
}
.pagination .page-next:hover {
	background-position:-114px -39px
}
.pagination .next-disabled,.pagination .next-disabled:hover {
	background-position:-191px 0
}
.pagination .total-num,.pagination .page-info {
	display:inline-block;
	height:29px;
	line-height:29px;
	vertical-align:middle;
	margin-right:10px
}
.pagination .total-num .num-val {
	color:#f40
}
.ks-clearfix:after {
	content:'\20';
	display:block;
	height:0;
	clear:both
}
.ks-clearfix {
	*zoom:1
}
.hidden {
	display:none
}
.ks-cal-call {
	background:#fff;
	height:auto;
	border:1px solid #9bc0e0;
	font-size:12px;
	font-family:Tahoma
}
.ks-cal-call-multi-1 {
	width:190px!important
}
.ks-cal-call-multi-2 {
	width:380px!important
}
.ks-cal-call-multi-3 {
	width:570px!important
}
.ks-cal-call button {
	padding:0 5px;
	font-size:13px
}
.ks-cal-call {
	-moz-box-shadow:1px 1px 0 #ccc;
	-webkit-box-shadow:1px 1px 0 #ccc;
	-khtml-box-shadow:1px 1px 0 #ccc;
	-ms-box-shadow:1px 1px 0 #ccc;
	filter:progid:DXImageTransform.Microsoft.Shadow(direction=155, Color=#dadada, Strength=1),progid:DXImageTransform.Microsoft.DropShadow(Color=#22aaaaaa, OffX=0, OffY=0)
}
.ks-cal-call .ks-cal-box {
	padding:4px;
	height:auto;
	width:auto;
	float:left;
	position:relative
}
.ks-cal-call .ks-cal-hd,.ks-cal-call .ks-cal-hd a {
	background:url(//gdp.alicdn.com/tps/i3/T1d4OJXkpxXXXXXXXX-19-300.png) repeat-x;
	_background:url(//gdp.alicdn.com/tps/i1/T10.uJXc4bXXXXXXXX-19-300.png) repeat-x
}
.ks-cal-call .ks-cal-hd,.ks-cal-call .ks-cal-hd a.ks-prev-year,.ks-cal-call .ks-cal-hd a.ks-prev-month,.ks-cal-call .ks-cal-hd a.ks-next-year,.ks-cal-call .ks-cal-hd a.ks-next-month,.ks-cal-call .ks-cal-hd a.ks-title:hover {
	background-position:0 -240px;
	width:182px;
	height:26px;
	position:relative
}
.ks-cal-call .ks-cal-hd a.ks-prev-year,.ks-cal-call .ks-cal-hd a.ks-prev-month,.ks-cal-call .ks-cal-hd a.ks-next-year,.ks-cal-call .ks-cal-hd a.ks-next-month {
	overflow:hidden;
	text-indent:-100em;
	font-size:0;
	width:19px;
	height:19px;
	float:left;
	position:absolute;
	text-decoration:none;
	color:#fff
}
.ks-cal-call .ks-cal-hd a.ks-prev-year {
	background-position:0 -180px;
	left:3px;
	top:4px
}
.ks-cal-call .ks-cal-hd a.ks-prev-year:hover {
	background-position:0 -200px
}
.ks-cal-call .ks-cal-hd a.ks-prev-year:active {
	background-position:0 -220px
}
.ks-cal-call .ks-cal-hd a.ks-prev-month {
	background-position:0 -60px;
	left:24px;
	top:4px
}
.ks-cal-call .ks-cal-hd a.ks-prev-month:hover {
	background-position:0 -80px
}
.ks-cal-call .ks-cal-hd a.ks-prev-month:active {
	background-position:0 -100px
}
.ks-cal-call .ks-cal-hd a.ks-next-year {
	background-position:0 -120px;
	right:3px;
	top:4px
}
.ks-cal-call .ks-cal-hd a.ks-next-year:hover {
	background-position:0 -140px
}
.ks-cal-call .ks-cal-hd a.ks-next-year:active {
	background-position:0 -160px
}
.ks-cal-call .ks-cal-hd a.ks-next-month {
	background-position:0 0;
	right:24px;
	top:4px
}
.ks-cal-call .ks-cal-hd a.ks-next-month:hover {
	background-position:0 -20px
}
.ks-cal-call .ks-cal-hd a.ks-next-month:active {
	background-position:0 -40px
}
.ks-cal-call .ks-cal-hd a.ks-title,.ks-cal-call .ks-cal-hd a.ks-title:link,.ks-cal-call .ks-cal-hd a.ks-title:visited {
	color:#fff;
	text-decoration:none;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:77px;
	height:16px;
	line-height:15px;
	display:block;
	top:5px;
	text-align:center;
	background-position:100px 100px
}
.ks-cal-call .ks-cal-hd a.ks-title:hover {
	border:1px solid #8cc6ff;
	top:4px;
	color:#f0ff00;
	background-position:0 -268px
}
.ks-cal-call .ks-cal-bd {
	width:182px
}
.ks-cal-call .ks-cal-bd .ks-whd {
	width:auto;
	height:19px;
	overflow:hidden;
	margin-top:4px;
	border-bottom:1px dashed #c9c9c9;
	padding-bottom:2px
}
.ks-cal-call .ks-cal-bd .ks-whd span {
	float:left;
	width:25px;
	text-align:center;
	line-height:19px;
	margin-right:1px;
	display:inline
}
.ks-cal-call .ks-cal-bd .ks-dbd a {
	border-radius:2px;
	margin-bottom:1px;
	margin-right:1px;
	display:inline
}
.ks-cal-call .ks-cal-bd .ks-dbd {
	width:182px;
	height:auto;
	background-color:#fff;
	margin-top:4px
}
.ks-cal-call .ks-cal-bd .ks-dbd a,.ks-cal-call .ks-cal-bd .ks-dbd a:link,.ks-cal-call .ks-cal-bd .ks-dbd a:visited {
	color:#049;
	float:left;
	width:23px;
	text-align:center;
	line-height:22px;
	text-decoration:none;
	border:1px solid #fff
}
.ks-cal-call .ks-cal-bd .ks-dbd a:hover {
	background-color:#f3f9ff;
	border-color:#88b1ea
}
.ks-cal-call .ks-cal-bd .ks-dbd a {
	width:23px
}
.ks-cal-call .ks-cal-bd .ks-dbd a:link {
	width:23px
}
.ks-cal-call .ks-cal-bd .ks-dbd a:visited {
	width:23px
}
.ks-cal-call .ks-cal-bd .ks-dbd a,.ks-cal-call .ks-cal-bd .ks-dbd a:link,.ks-cal-call .ks-cal-bd .ks-dbd a:visited {
	width:23px
}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null:link,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null:visited {
	background:#fff;
	color:#fff;
	cursor:default;
	border-color:#fff
}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today:link,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today:visited {
	color:#357c00;
	border-color:#7dba4e
}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected:link,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected:visited {
	color:#fff;
	background-color:#4187e7;
	border-color:#4187e7
}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled:link,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled:visited {
	color:#999;
	cursor:default;
	background-color:#fff;
	border-color:#fff
}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range:link,.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range:visited {
	color:#fff;
	background-color:#4187e7;
	border-color:#4187e7
}
.ks-cal-call .ks-cal-ft {
	text-align:center;
	width:181px
}
.ks-cal-call .ks-cal-ft .ks-cal-time {
	background-color:#e5e5e5;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:95px;
	position:relative;
	padding-right:18px;
	*top:-2px;
	_top:-1px;
	line-height:20px;
	height:20px
}
.ks-cal-time .cta {
	width:13px;
	height:20px;
	position:absolute;
	right:0;
	top:0;
	line-height:0
}
head~body .ks-cal-call .ks-cal-ft .ct-ok {
	margin-left:2px;
	vertical-align:baseline;
	*vertical-align:middle
}
@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
	head~body .ks-cal-call .ks-cal-ft .ks-cal-time {
		padding:2px 5px 2px 0;
		display:block;
		float:left;
		width:110px;
		margin-left:13px
	}
	head~body .ks-cal-call .ks-cal-ft .ct-ok {
		margin-left:0
	}
}
.ks-cal-time button {
	width:13px;
	height:10px;
	font-size:0;
	margin:0;
	padding:0;
	border:0;
	overflow:hidden;
	background:url(//gdp.alicdn.com/tps/i5/T1McxAXXRHXXXXXXXX-29-10.gif) no-repeat;
	cursor:pointer;
	vertical-align:middle
}
.ks-ie .ks-cal-time button {
	vertical-align:baseline
}
.ks-cal-time button.u {
	background-position:0 0
}
.ks-cal-time button.d {
	background-position:-16px 0
}
.ks-cal-time span {
	cursor:pointer
}
.ks-cal-time span.on {
	padding:0 1px;
	background-color:#333;
	color:#fff
}
.ks-cal-notLimited {
	display:block;
	border:1px solid #88b1ea;
	background-color:#f3f9ff;
	text-align:center;
	border-radius:2px;
	cursor:pointer;
	color:#5e97d0;
	width:180px;
	margin-top:4px
}
.ks-cal-notLimited:hover {
	text-decoration:none
}
.ks-cal-notLimited-selected {
	background-color:#4187e7;
	color:#fff;
	border-color:#3375cf
}
.ks-cal-notLimited-showTime {
	margin-bottom:4px
}
.ks-multi-select {
	text-align:center
}
.ks-cal-timelist {
	position:absolute;
	height:auto;
	width:auto;
	_width:205px;
	border:1px solid #9bc0e0;
	background-color:#f2f2f2;
	z-index:100
}
.ks-cal-timelist ul {
	width:50px;
	border-left:1px solid #9bc0e0;
	float:left;
	list-style:none;
	padding:0;
	margin:5px 0
}
.ks-cal-timelist ul.first {
	border:0!important
}
.ks-cal-timelist ul li {
	text-align:center;
	float:left;
	width:100%
}
.ks-cal-timelist ul li a,.ks-cal-timelist ul li a:link,.ks-cal-timelist ul li a:visited {
	line-height:18px;
	text-decoration:none;
	color:#000
}
.ks-cal-timelist ul li a:hover {
	background-color:#cce7f2;
	color:#049
}
.ks-setime {
	position:absolute;
	left:4px;
	top:28px;
	width:180px;
	background:#f2f2f2;
	border:1px solid #9bc0e0;
	text-align:center;
	vertical-align:middle;
	height:auto;
	padding-top:10px;
	padding-bottom:10px
}
.ks-setime p {
	height:30px;
	margin:0;
	padding:0
}
.ks-setime select,.ks-setime input {
	width:80px
}
.ks-selectime {
	position:absolute;
	left:4px;
	bottom:32px;
	right:0;
	width:180px;
	background:#f2f2f2;
	border:1px solid #9bc0e0;
	text-align:center;
	vertical-align:middle;
	height:auto;
	padding-top:10px;
	padding-bottom:10px
}
.ks-selectime a,.ks-selectime a:link,.ks-selectime a:visited {
	margin-left:10px;
	display:inline-block;
	*display:inline;
	float:left;
	text-decoration:none;
	color:#049
}
.ks-selectime a:hover {
	text-decoration:underline
}
.ks-selectime a.x {
	position:absolute;
	right:3px;
	bottom:2px;
	font-weight:700;
	font-family:"comic Sans MS"
}
.ks-selectime select,.ks-selectime input {
	width:80px
}
.ks-select-calendar {
	width:126px;
	height:20px;
	*width:122px;
	*height:18px;
	_width:124px;
	border:1px solid #ccc;
	background:url(//gdp.alicdn.com/tps/i3/T1cJ4PXfXGXXXXXXXX-16-13.gif) no-repeat 106px 4px
}
.lot-calendar {
	position:absolute;
	top:0;
	left:222px;
	z-index:100
}
