 <head>
<meta charset="utf-8">
<title>招商首页 - 美丽说</title>

<link rel="stylesheet" href="__STORECSS__/settled_odds.css" media="all">
<link rel="stylesheet" href="__STORECSS__/settled_process.css" media="all">
<!--载入顶部文件-->
<include file="./Mls/Store/Common/header.html" />

<div class="container">
	<h3 class="page_title">入驻流程</h3>
	<div class="process">
		<div class="content">
			<div class="c_item ">
				<h4>提交申请</h4>
				<p>
					填写开店入驻信息
					<br>
					确认服务协议及合同
					<br></p>
				<a href="https://shop.meilishuo.com/user/login/" class="btn" target="_blank">马上申请</a>
			</div>
			<div class="c_item ">
				<h4>缴纳保证金</h4>
				<p>
					线上支付所需保证金
					<br>入驻完成</p>
			</div>
			<div class="c_item ">
				<h4>等待审核</h4>
				<p>美丽说1-3个工作日内反馈审核结果</p>
			</div>
			<div class="c_item last">
				<h4>开店考试</h4>
				<p>考试通过方可登陆后台</p>
			</div>
			<div class="clear_f"></div>
		</div>
	</div>
	<div class="qualification">
		<h3 class="page_title">入驻常见问题</h3>
		<div class="content">
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">1.为什么使用手机号注册？</span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">卖家不能使用联合登录（qq、微博、微信）进行开店申请，需要使用手机号注册；</span>
			</p>
			<p>
				<span style="font-size:14px;">
					<br></span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">2.商家入驻经营类目？</span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';"></span>
			</p>
			<ul style="margin:0px 0px 10px;padding:0px;list-style:none;color:#666666;font-size:14px;line-height:22px;font-family:arial;background-color:#ffffff;">
				<li style="margin:0px;padding:0px;list-style:none;">
					<p style="padding:0px;margin-top:0px;margin-bottom:0px;"> <strong><span style="font-family:微软雅黑, 'microsoft yahei';"></span></strong> 
						<span style="font-family:微软雅黑, 'microsoft yahei';">女装、女包、女鞋、配饰、家居、食品</span>
					</p>
				</li>
				<li style="margin:0px;padding:0px;list-style:none;">
					<p style="padding:0px;margin-top:0px;margin-bottom:0px;"> <strong><span style="font-family:微软雅黑, 'microsoft yahei';">
								（
								<strong style="font-family:arial;">
									<span style="font-family:微软雅黑, 'microsoft yahei';">
										<strong style="font-family:arial;">
											<span style="font-family:微软雅黑, 'microsoft yahei';">童装、</span></strong> 
										男装为定向招商，入驻请联系企业QQ800067444咨询）
									</span>
								</strong>
							</span>
						</strong>
					</p>
				</li>
			</ul>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">
					（中老年装等不在招商范围内）
					<br></span>
				<br></p>
			<p>
				<span style="font-size:14px;">
					<br></span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">3.入驻好店有哪些费用？</span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">①违约保证金：5000元</span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">违约保证金：用以保证商家正更多问题常合规在美丽说平台经营的金额，在出现违反平台规定的情况下，美丽说有权进行扣收。</span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">②备用金：5000元</span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">备用金：退款保证金，用以确保用户安全完成退款的金额。</span>
			</p>
			<p>
				<span style="font-size:14px;font-family:微软雅黑, 'microsoft yahei';">③技术服务费（佣金）：商家通过美丽说商城完成的每一单交易需支付的技术服务费，佣金为订单交易总金额的5% 。</span>
			</p>
			<p style="text-align:right;">
				<a href="http://zhaoshang.meilishuo.com/business/help?cid=61" target="_blank" title="更多入驻常见问题">更多问题</a>
			</p>
			<p>
				<br></p>
		</div>
	</div>
</div>

<!--载入底部文件-->
<include file="./Mls/Store/Common/footer.html" />