 <head>
<meta charset="utf-8">
<title>招商首页 - 美丽说</title>


<link rel="stylesheet" href="__STORECSS__/settled_star.css" media="all">
<!--载入顶部文件-->
<include file="./Mls/Store/Common/header.html" />

<div class="container">
	<div class="star">
		<h3 class="cata_title">衣服</h3>
		<div class="content">
			<div class="s_item left_f">
				<div class="img_wrapper">
					<a href="http://www.meilishuo.com/shop/100014" target="_blank">
						<img src="http://d01.res.meilishuo.net/img/_o/b6/5f/5f0ae0abfea089980ee38b9e2f0a_100_100.cc.jpg"></a>
				</div>
				<p class="s_name">
					<a href="http://www.meilishuo.com/shop/100014" target="_blank">一个设计师品牌，3个月实现0到100万销售！</a>
				</p>
				<p class="s_desc">
					<a href="http://www.meilishuo.com/shop/100014" target="_blank">
						“1313气场是女装原创设计品牌，快速上新是我们在美丽说的成功秘诀！我们通过参加几次大的活动，熟悉了美丽说平台和用户特点，并在短短3个月时间内实现了从0元到百万级销售额的飞跃。
					</a>
				</p>
			</div>
			<div class="s_item left_f">
				<div class="img_wrapper">
					<a href="http://www.meilishuo.com/shop/104395" target="_blank">
						<img src="http://d02.res.meilishuo.net/img/_o/b5/54/09d95eb1517ff45f7506a130e621_200_200.c6.jpg"></a>
				</div>
				<p class="s_name">
					<a href="http://www.meilishuo.com/shop/104395" target="_blank">早期入驻，与平台共同发展的宠儿自制女装店</a>
				</p>
				<p class="s_desc">
					<a href="http://www.meilishuo.com/shop/104395" target="_blank">
						宠儿自制是最早一批入住的原创女装店铺，主要以欧美简约风为主，我们有自己的设计师、打板师及生产车间，在短短几个月时间内售出3万余件优质女装。
					</a>
				</p>
			</div>
			<div class="s_item left_f">
				<div class="img_wrapper">
					<a href="http://www.meilishuo.com/shop/102395" target="_blank">
						<img src="http://d01.res.meilishuo.net/img/_o/f7/0c/b33dbe405f7b6d0664c100365f9a_100_100.cc.jpg"></a>
				</div>
				<p class="s_name">
					<a href="http://www.meilishuo.com/shop/102395" target="_blank">白银，入驻美丽说5个月的神话</a>
				</p>
				<p class="s_desc">
					<a href="http://www.meilishuo.com/shop/102395" target="_blank">
						我们在淘宝要3年硬卖做成的4皇冠同级别的，在美丽说只花了5个月！第1个月做了20万销售，第2个月就到了60万，后续通过520大促销618大促销，销售每个月都是100万以上。
					</a>
				</p>
			</div>
			<div class="s_item left_f">
				<div class="img_wrapper">
					<a href="http://www.meilishuo.com/shop/104543" target="_blank">
						<img src="http://d01.res.meilishuo.net/img/_o/82/ba/63f6533a8f17f2fcf2a8e9489c4f_100_100.cc.jpg"></a>
				</div>
				<p class="s_name">
					<a href="http://www.meilishuo.com/shop/104543" target="_blank">买手店铺，拒绝平凡，拒绝价格战！</a>
				</p>
				<p class="s_desc">
					<a href="http://www.meilishuo.com/shop/104543" target="_blank">
						TIME XX坚持原创多变的风格，为了打造独创的调性我们坚持店主真人实拍，提高品牌认知度！避免网络盗图泛滥引起的买家视觉审美疲劳！杜绝打价格战的恶性竞争！
					</a>
				</p>
			</div>
			<div class="clear_f"></div>
		</div>
	</div>
	<div class="star">
		<h3 class="cata_title">鞋子</h3>
		<div class="content">
			<div class="s_item left_f">
				<div class="img_wrapper">
					<a href="http://www.meilishuo.com/shop/104521" target="_blank">
						<img src="http://imgst-dl.meilishuo.net/img/_o/cb/ec/9dadbee74edb89d4e7214693b304_100_100.cc.jpg"></a>
				</div>
				<p class="s_name">
					<a href="http://www.meilishuo.com/shop/104521" target="_blank">风格转型，0至5000单的快速突破</a>
				</p>
				<p class="s_desc">
					<a href="http://www.meilishuo.com/shop/104521" target="_blank">
						刚开店时因为产品风格杂乱，无特色，流行度不高，产品更新不及时，几乎没有销量。后来我们重新定义店铺风格，从款式到照片的全部更新，一上线就广受喜爱，短短一个月销量便突破5000单！
					</a>
				</p>
			</div>
			<div class="s_item left_f">
				<div class="img_wrapper">
					<a href="http://www.meilishuo.com/shop/124201" target="_blank">
						<img src="http://d01.res.meilishuo.net/img/_o/8d/5f/c38b95890328d5d8f66bfe91bf80_100_100.cc.jpg"></a>
				</div>
				<p class="s_name">
					<a href="http://www.meilishuo.com/shop/124201" target="_blank">鲲戈，入驻3个月进入TOP10</a>
				</p>
				<p class="s_desc">
					<a href="http://www.meilishuo.com/shop/124201" target="_blank">传统企业，自有工厂，入驻美丽说后，研发了更多时尚款式，终于厚积薄发，入驻3月便销售额破百万，进入女鞋TOP10!</a>
				</p>
			</div>
			<div class="clear_f"></div>
		</div>
	</div>
	<div class="star">
		<h3 class="cata_title">包包、配饰</h3>
		<div class="content">
			<div class="s_item left_f">
				<div class="img_wrapper">
					<a href="http://www.meilishuo.com/shop/101661" target="_blank">
						<img src="http://d01.res.meilishuo.net/img/_o/56/05/9f2a93a63dca349e62e8ab27d65b_200_200.c8.jpg"></a>
				</div>
				<p class="s_name">
					<a href="http://www.meilishuo.com/shop/101661" target="_blank">通过CPC快速成长90后商家</a>
				</p>
				<p class="s_desc">
					<a href="http://www.meilishuo.com/shop/101661" target="_blank">
						90后创业者，通过在美丽说上投入CPC推广，获得了巨大的回报；美丽说用户对时尚要求很高，很大部分用户对价格其实并不是很敏感，这也给我们留有很多的推广预算空间。
					</a>
				</p>
			</div>
			<div class="s_item left_f">
				<div class="img_wrapper">
					<a href="http://www.meilishuo.com/shop/108101" target="_blank">
						<img src="http://d03.res.meilishuo.net/img/_o/20/73/0c468b98dcaeba5799a73537f91f_100_100.cc.jpg"></a>
				</div>
				<p class="s_name">
					<a href="http://www.meilishuo.com/shop/108101" target="_blank">两位闺蜜的萌系原创设计师店</a>
				</p>
				<p class="s_desc">
					<a href="http://www.meilishuo.com/shop/108101" target="_blank">
						萝拉原创设计师店是两位位热爱生活的闺蜜创办，原创设计品牌，产品以包包及配饰为主，创作灵感来源于对动物、冒险和生活的热爱与感知，再加上点天马行空的想象，融合重塑出一个个萌物！
					</a>
				</p>
			</div>
			<div class="clear_f"></div>
		</div>
	</div>
</div>

<!--载入底部文件-->
<include file="./Mls/Store/Common/footer.html" />