body{
	background-color:#fff;
	font-family:"宋体"
}

.header_top{
	width:1200px
}

.imgareaselect-border1,.imgareaselect-border2,.imgareaselect-border3,.imgareaselect-border4{
	filter:alpha(opacity=50);
	opacity:.5
}

.imgareaselect-border1{
	border:solid 1px #000
}

.imgareaselect-border2{
	border:dashed 1px #fff
}

.imgareaselect-handle{
	background-color:#fff;
	border:solid 1px #000;
	filter:alpha(opacity=50);
	opacity:.5
}

.imgareaselect-outer{
	background-color:#000;
	filter:alpha(opacity=40);
	opacity:.4
}

.imgareaselect-selection{
	background-color:#fff;
	filter:alpha(opacity=0);
	opacity:0
}

.settings{
	padding-top:15px;
	padding-bottom:60px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden
}

.setSync,.login-eqm,.help-con,.safe-center,.safe-help{
	padding:30px;
	margin-top:10px
}

.hp_tab{
	width:228px;
	border:1px solid #ddd;
	float:left;
	margin-right:15px
}

.use-info{
	height:125px;
	border-bottom:1px solid #ddd;
	background-color:#f3f3f3
}

.use-pic{
	width:79px;
	height:79px;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin-top:22px;
	margin-left:15px;
	margin-right:10px;
	float:left;
	border:1px solid #e5e5e5
}

.use-name{
	padding-top:35px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	cursor:pointer;
	width:100px
}

.use-name a{
	color:#f69;
	font-size:14px
}

.use-id{
	color:#999;
	margin-top:20px
}

.account-manage,.account-safe{
	margin-top:25px;
	margin-left:25px
}

.account-safe{
	padding-bottom:40px
}

.sub_tab strong{
	padding-left:25px;
	font-size:16px;
	height:25px;
	line-height:25px;
	display:block;
	color:#333
}

.account-manage strong{
	background:url(/css_https//images/yaoyaotest/ac-m.png) no-repeat 4px 3px
}

.account-safe strong{
	background:url(/css_https//images/yaoyaotest/ac-s.png) no-repeat 4px 3px
}

.account-manage li,.account-safe li{
	margin-top:23px;
	font-size:12px;
	margin-left:25px;
	color:#333
}

.settings_box{
	width:953px;
	border:1px solid #ddd;
	float:right
}

.title{
	height:29px;
	border-bottom:1px solid #ddd;
	padding-top:15px;
	padding-left:15px;
	font-size:18px;
	color:#333;
	background-color:#fafafa;
	display:block;
	font-weight:normal
}

.setPassword{
	margin-top:40px;
	margin-bottom:150px
}

.form-list,.passChange{
	margin-left:100px;
	margin-bottom:24px;
	font-family:arial;
	color:#999
}

.form-list label,.passChange label{
	color:#666;
	margin-right:10px;
	width:73px;
	text-align:right;
	float:left;
	line-height:35px
}

.form-list input{
	height:36px;
	width:395px;
	border:1px solid #ddd;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding-left:10px
}

.form-list input:focus,.form-list textarea:focus{
	border:1px solid #66c2ff
}

.form-list .s_button:focus,.form-list .s_button2:focus{
	border:0
}

.form-list select{
	height:36px;
	color:#999;
	font-family:arial;
	border:1px solid #ddd;
	-webkit-border-radius:4px;
	border-radius:4px
}

.ext_submit{
	width:100px;
	height:30px;
	background-color:#f69;
	margin-left:184px;
	text-align:center;
	margin-top:6px;
	color:#fff;
	border:0
}

.ext_submit:hover{
	color:#fff
}

.ext_submit:hover{
	background-color:#ff86af
}

.form-list textarea{
	height:100px;
	width:400px;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:auto;
	border:1px solid #DDD;
	color:#999;
	line-height:20px;
	padding-left:5px;
	padding-right:5px
}

.visit_icon{
	width:30px;
	float:right;
	margin-right:310px;
	height:30px;
	display:none
}

.visit_red{
	background:url("/css_https/images/settings/red.gif") no-repeat
}

.visit_green{
	background:url(/css_https//images/yaoyaotest/right.png) no-repeat 6px 9px
}

.form-list strong{
	margin-left:15px;
	color:#666;
	display:inline-block;
	font-weight:normal
}

#setPasswordForm .form-list strong{
	color:#f69
}

.setPassword,.setEmail{
	position:relative
}

.setPassword .success,.setEmail .success{
	color:#45d394
}

.setPasswordErrorMessage,.setEmailErrorMessage,.setPasswordInfoMessage,.setEmailInfoMessage{
	display:inline;
	color:#666
}

.setting_box_warnning{
	top:135px;
	left:610px;
	position:absolute;
	display:none
}

.setting_box_warnning img{
	float:left
}

.setting_box_warnning p{
	float:left;
	margin-top:3px;
	color:#f69;
	padding-left:5px
}

.setting_success{
	color:#f69;
	margin-left:190px;
	display:none
}

.setAvatar{
	margin-top:40px;
	margin-left:50px;
	margin-bottom:280px
}

#thumbn{
	width:400px
}

.setAvatar div{
	position:relative;
	margin-bottom:20px
}

.setAvatar div .pic_msg{
	margin-bottom:20px;
	display:none;
	color:#f69
}

.setAvatar div #thumbn{
	float:left;
	margin-right:40px
}

.setAvatar div .crop_out{
	width:300px;
	float:left;
	display:none
}

.setAvatar div .crop{
	width:200px;
	height:200px;
	overflow:hidden
}

.setAvatar div br{
	clear:both
}

.setAvatar div #thumbn{
	display:none;
	float:left;
	margin-right:20px
}

.set-pic{
	margin-left:50px;
	margin-top:40px;
	padding-bottom:100px
}

.img_submit{
	margin-bottom:12px;
	width:130px;
	height:30px;
	background-color:#ededed;
	color:#666;
	line-height:30px;
	text-align:center;
	position:relative;
	cursor:pointer;
	display:inline-block
}

.img_submit input{
	opacity:0;
	position:absolute;
	top:7px;
	left:10px
}

.original{
	height:200px;
	width:200px;
	border:1px solid #e6e6e6;
	margin-top:20px;
	display:block
}

.pic_msg{
	margin-top:30px
}

#thumbn{
	width:400px
}

#set_submit{
	margin-left:1px
}

.syncMain .none_f{
	display:none
}

.tab-con{
	border-bottom:1px solid #ececec;
	padding-left:30px;
	height:56px;
	line-height:56px
}

.tab-con span{
	width:190px;
	height:25px;
	line-height:25px;
	display:inline-block
}

.login-title{
	font-size:14px;
	color:#666;
	font-weight:bold
}

.syncLogoLeft{
	padding-left:35px;
	width:155px;
	display:inline-block;
	background:url(/css_https//images/yaoyaotest/sina1.png) no-repeat 0 15px
}

.syncLogoRight{
	padding-left:35px;
	width:155px;
	display:inline-block;
	background:url(/css_https//images/yaoyaotest/zone2.png) no-repeat 0 15px
}

.setSync .bie-now{
	background-color:#f69;
	color:#fff;
	text-align:center;
	width:85px;
	display:inline-block
}

.setSync .bie-now:hover{
	color:#fff
}

.three{
	color:#999;
	margin-top:20px;
	margin-left:30px;
	margin-bottom:70px
}

.tab-con .safe-one{
	width:360px
}

.tab-con .no-set{
	padding-left:25px;
	width:330px;
	background:url(/css_https//images/yaoyaotest/span.png) no-repeat -23px -23px
}

.tab-con .set{
	width:330px;
	padding-left:25px;
	background:url(/css_https//images/yaoyaotest/span.png) no-repeat -23px 2px
}

.prompt-info{
	padding-left:10px;
	color:#f69
}

.help-title li{
	color:#666;
	padding-left:40px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #ececec
}

.help-title span{
	float:right;
	margin-top:20px;
	margin-right:50px;
	color:#999
}

.page li{
	float:left
}

.tab-con .type-com,.tab-con .type-aa,.tab-con .type-iphone{
	width:160px;
	padding-left:30px
}

.tab-con .type-com{
	background:url(/css_https//images/yaoyaotest/span1.png) no-repeat 0 4px
}

.tab-con .type-aa{
	background:url(/css_https//images/yaoyaotest/span1.png) no-repeat 0 -20px
}

.tab-con .type-iphone{
	background:url(/css_https//images/yaoyaotest/span1.png) no-repeat 0 -45px
}

.bindMobile{
	position:relative;
	margin-top:50px;
	margin-bottom:100px
}

.bindMobile p strong{
	margin-left:30px;
	display:inline-block
}

.bindMobile .s_button,.bindMobile .s_button2{
	margin-left:15px;
	height:32px;
	width:122px;
	cursor:pointer;
	-webkit-border-radius:0;
	border-radius:0;
	background-color:#eee;
	color:#666;
	border:0;
	line-height:32px
}

.submitBox{
	color:#f69
}

.form-list .lipt{
	width:297px;
	height:36px
}

.bie{
	margin-top:40px;
	margin-left:105px
}

.check-p span{
	height:30px;
	width:211px;
	margin-right:5px;
	text-align:center;
	line-height:30px;
	margin-bottom:50px;
	display:inline-block;
	cursor:pointer
}

.on{
	background-color:#ffbc6d;
	color:#fff
}

.on:hover{
	color:#fff
}

.no-on{
	background-color:#f3f3f3;
	color:#999
}

.bie-info{
	border-top:1px solid #ececec;
	padding-left:30px;
	margin-top:60px;
	margin-left:30px;
	margin-right:30px;
	color:#999;
	padding-top:15px
}

.bie-info p{
	line-height:24px
}

.pw_safe{
	margin-top:8px;
	height:22px
}

.pw_safe .txt{
	float:left;
	width:58px;
	padding-left:180px;
	color:#999
}

.pw_strength{
	float:left;
	width:129px;
	background-color:#ccc;
	height:14px;
	position:relative
}

.pw_strength span{
	color:#fff;
	display:inline;
	float:left;
	height:14px;
	line-height:14px;
	text-align:center;
	width:42px;
	border-right:1px solid #FFF
}

.pw_strength span:hover{
	color:#fff
}

.pw_strength_color{
	background:#f69
}

.safe_tips{
	height:30px;
	padding-left:190px;
	color:#f69
}

h1{
	font-size:16px;
	color:#333;
	border-bottom:1px solid #ececec;
	padding-bottom:20px;
	text-align:center
}

.help-con span{
	text-align:center;
	color:#999;
	margin-top:15px;
	display:block
}

.help-i li{
	line-height:24px;
	margin:0 8px
}

.help-i{
	padding:30px
}

.setAddr{
	position:relative
}

.setAddr form{
	padding-top:12px;
	margin-left:-17px
}

.setAddr p{
	margin-top:14px
}

.setAddr p label{
	margin-right:20px;
	text-align:right;
	line-height:28px;
	font-size:14px;
	width:100px;
	float:left
}

.setAddr p label span{
	margin-right:3px;
	color:red
}

.setAddr p input{
	height:26px;
	width:260px
}

.setAddr p strong{
	margin-left:20px
}

.setAddr .passChange label.sexChaneg{
	margin-right:0;
	line-height:28px;
	float:none
}

.setAddr .passChange input{
	height:auto;
	width:auto
}

.setAddr #regNotice{
	z-index:2;
	position:absolute;
	top:100px;
	left:30px;
	display:none
}

.setAddr #regNotice .bottom-left-t{
	background:url("/css_https/images/register/bottom-left-t.gif") no-repeat scroll left bottom transparent;
	width:270px
}

.setAddr #regNotice .bottom-right-t{
	background:url("/css_https/images/register/bottom-right-t.gif") no-repeat scroll right bottom transparent
}

.setAddr #regNotice .top-left-t{
	background:url("/css_https/images/register/top-left-t.gif") no-repeat scroll left top transparent
}

.setAddr #regNotice .top-right-t{
	background:url("/css_https/images/register/top-right-t.gif") no-repeat scroll right top transparent;
	line-height:160%;
	padding:11px 10px 11px 20px
}

.setAddr #regWarning{
	z-index:1;
	position:absolute;
	display:none;
	top:100px;
	left:30px
}

.setAddr #regWarning .bottom-left-w{
	background:url("/css_https/images/register/bottom-left-w.gif") no-repeat scroll left bottom transparent;
	width:270px
}

.setAddr #regWarning .bottom-right-w{
	background:url("/css_https/images/register/bottom-right-w.gif") no-repeat scroll right bottom transparent
}

.setAddr #regWarning .top-left-w{
	background:url("/css_https/images/register/top-left-w.gif") no-repeat scroll left top transparent
}

.setAddr #regWarning .top-right-w{
	background:url("/css_https/images/register/top-right-w.gif") no-repeat scroll right top transparent;
	line-height:160%;
	padding:11px 10px 11px 20px
}

#setEmailFormsetEmailForm .oldEmail{
	line-height:28px
}

#setEmailFormsetEmailForm p label{
	width:130px
}

#setEmailFormsetEmailForm .setmailTip{
	color:#999
}

#setEmailFormsetEmailForm .btn{
	border:0;
	width:120px;
	height:28px;
	font-size:14px;
	margin-left:150px;
	margin-bottom:20px
}

.settingsWrap{
	width:922px;
	padding:80px 13px;
	margin-top:28px;
	margin-bottom:30px;
	background:#fff;
	margin-left:auto;
	margin-right:auto;
	box-shadow:0 0 1px rgba(34,25,25,0.1);
	-webkit-box-shadow:rgba(34,25,25,0.1) 0 0 1px;
	border:1px solid #e6e4e4;
	-webkit-border-radius:10px;
	border-radius:10px
}

.settingsWrap h3{
	margin-left:auto;
	margin-right:auto;
	height:38px;
	line-height:38px;
	font-size:24px;
	margin-bottom:40px;
	text-align:center
}

.settingsWrap .send_ok{
	background:url("/css_https/images/user/btn_200.gif") no-repeat 0 -50px;
	padding:7px 22px
}

.settingsWrap .failure_tip{
	background:url("/css_https/images/settings/tip_levelone1.png") no-repeat 0 0;
	padding:4px 24px
}

.settingsWrap div{
	border-bottom:1px dashed #e6e6e6;
	padding-bottom:40px;
	margin-bottom:26px;
	line-height:22px;
	font-size:14px;
	text-align:center
}

.settingsWrap div a{
	margin-top:32px;
	display:block;
	font-size:16px;
	line-height:40px;
	height:40px;
	width:140px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
	background:#f69;
	color:#fff
}

.settingsWrap div a:hover{
	color:#fff
}

.settingsWrap ul{
	margin-left:auto;
	margin-right:auto;
	width:290px
}

.settingsWrap p{
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
	line-height:44px;
	font-weight:bold;
	width:290px
}

.settingsWrap ul{
	padding-left:4px
}

.settingsWrap ul a{
	color:#f69
}

.settingsWrap ul,.settingsWrap li{
	line-height:22px;
	list-style:disc inside
}

.settingsWrap .sendemail{
	color:#f69;
	cursor:pointer
}

.settingsWrap span{
	padding-left:5px
}

.settingsWrap .step{
	padding-right:20px;
	background:url("/css_https/images/settings/go1.png") no-repeat right
}

.alpha{
	margin-left:0
}

.omega{
	margin-right:0
}

;