#toTop{
	display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 64px;
    height: 64px;
    background-image: url('../Images/up.png');
    background-repeat: no-repeat;
    opacity: 0.6;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	z-index:10;
	}
#toTop:hover {
	opacity: 1;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}