<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title> 
  <link rel="stylesheet" href="__HOMECSS__/base.css" media="all">
  <link rel="stylesheet" href="__HOMECSS__/szle.wide.css" media="all">
  <link rel="stylesheet" href="__HOMECSS__/followButton.css" media="all">
  <!--加载顶部文件-->
  <include file="./Mls/Home/Common/header.html" />
  <include file="./Mls/Home/Common/header_bg.html" />
  <load file="__HOMEJS__/jquery-1.7.2.js" />

  <style>
	#zoom{ position:absolute; left:460px; top:0; z-index:10; width:400px; height:400px; display:none; overflow:hidden; border:1px solid #eee; }
	#zoom img{ position:absolute; left:0; top:0; }
  </style>
  
  <script>

	$(function(){
		
		//倒计时
		var intDiff = parseInt(3600);//倒计时总秒数量

		function timer(intDiff){
			window.setInterval(function(){
			var day=0,
				hour=0,
				minute=0,
				second=0;//时间默认值		
			if(intDiff > 0){
				day = Math.floor(intDiff / (60 * 60 * 24));
				hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
				minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
				second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
			}
			if (minute <= 9) minute = '0' + minute;
			if (second <= 9) second = '0' + second;
			$('.day').html(day+"天");
			$('.hour').html('<s id="h"></s>'+hour+'时');
			$('.minute').html('<s></s>'+minute+'分');
			$('.second').html('<s></s>'+second+'秒');
			intDiff--;
			}, 1000);
		}
		timer(intDiff);
		
		//给图片添加点击事件
		$('.one').click(function(){
			$('.two').attr('src',$(this).attr('src'));
		});
		$('.three').click(function(){
			$('.two').attr('src',$(this).attr('src'));
		});
		//给尺码标签加点击事件
		$(".size").click(function(){
			var a = $('.size');
			for(var i=0;i<a.length;i++){
				$('.size').eq(i).removeClass('active');
				$('.size').eq(i).attr('flag','0');
			}
			$(this).attr('flag','1')
			$(this).addClass('active');
		});
		//给颜色添加事件
		$('.img_list').click(function(){
			var a = $('.img_list');
			for(var i=0;i<a.length;i++){
				$('.img_list').eq(i).removeClass('active');
				$('.img_list').eq(i).attr('flag','0');
			}
			$(this).addClass('active');
			$(this).attr('flag','1');
		})
		
			var t = $(".item-stock-num");
			var stock = parseInt($('#stock').html());
		//添加商品数量
			$(".item-stock-plus").click(function(){ 
				t.val(parseInt(t.val())+1);
				if(t.val()>=stock){
					t.val(stock);
				}	
			})
		//减少商品数量
			$(".item-stock-minus").click(function(){
				t.val(parseInt(t.val())-1);
				if(t.val()<=0){
					t.val(1);
				}	
			});
			t.blur(function(){
				var inpVal = t.val();
				if(isNaN(inpVal) || inpVal<0){
					t.val(1);
				}
				if(t.val() >= stock){
					$('.msg_over').css('display','block');
					t.val(stock);
				}
				setTimeout(function(){
					$('.msg_over').css('display','none');
				},2000)
			})
			//点击购物车和立即购买时检验是否选择完整
			$('.add_cart,.buy_btn').click(function(){
				var list = 0;
				var size = 0;
				var a = $('.img_list');
				var s = $('.size');
				for(var i=0;i<a.length;i++){
					if(a.eq(i).hasClass('active')){
						list = a.eq(i).attr('flag');
					}	
				}
				
				for(var i=0;i<s.length;i++){
					if(s.eq(i).hasClass('active')){
						size = s.eq(i).attr('flag');
					}
				}
				// aa = parseInt(list) + parseInt(size);
				// //alert(aa);
				// if(aa != 2){
				// 	alert('请选择尺寸和颜色!');

				// 	return false;
				// }
			})
			
			<!-- $('.img_list') -->
			<!-- $(".size") -->

			//商品数量input 输入小于等于0时 变回1
			$('.item-stock-num').keyup(function(){
				$num=parseInt($('.item-stock-num').val());
				if($num<="0"){
					$('.item-stock-num').val('1');
				}
			})



			//购物车
			$('.add_cart').click(function(){
				$goodsid=$('#goodsid').val();
				$discount=$('#discount').val();
				$goodsname=$('.item-title').html();
				$goodsprice=$('#price-now').html();
				$num=$('.item-stock-num').val();
				$goodspic=$('#goodspic').find('img').attr('src');
				$size=$('span[flag=1]').html();
				$color=$('li[flag=1]').find('img').attr('title');
				$shopname=$('.shop-name').html();
				$shopid=$('#shopid').val();
				if($size==null){
					alert('请选择颜色和尺码');
				}else{
					if($color==null){
						alert('请选择颜色');
					}else{

						$.get("<{:U('Share/cart')}>",{shopid:$shopid,discount:$discount,shopname:$shopname,size:$size,color:$color,num:$num,goodsname:$goodsname,goodsid:$goodsid,goodspic:$goodspic,goodsprice:$goodsprice},function(msg){
							if(msg==1){
								$('.num_bgc').html(<{$Think.session.cart|count}>);
								location="__MODULE__/AddToCart/index/shopid/"+$shopid+"/id/"+$goodsid+"/num/"+$num;

							}
							if(msg==0){
								alert('加入购物车失败');
								// $('.add_cart').attr('title','加入购物车失败');
							}
							if(msg=='error'){
								return false;
							}
						});

					}
				}

			})
			//关闭模态框
			$('#closeDialog').click(function(){
				// $('#dialogLayer').css('display','none');
				// $('#overlay').css('display','none');
					$('#dialogLayer').hide(500);
				$('#overlay').hide(500);
				// alert(111);

			})
			//判断是否登陆 和购买信息是否完成
			$('.buy_btn').click(function(){
				$goodsid=$('#goodsid').val();
				$discount=$('#discount').val();
				$goodsname=$('.item-title').html();
				$goodsprice=$('#price-now').html();
				$num=$('.item-stock-num').val();
				//$goodspic=$('#goodspic').find('img').attr('src');
				$goodspic=$('span[img=img]').html();
				$size=$('span[flag=1]').html();
				$color=$('li[flag=1]').find('img').attr('title');
				$shopname=$('.shop-name').html();
				$shopid=$('#shopid').val();
				if($size==null){
					alert('请选择颜色和尺码');
					//alert($goodspic);
				}else{
					if($color==null){
						alert('请选择颜色');
					}else{

				if(!$('#isset').html()){
									// $('#dialogLayer').css('display','block');
									// $('#overlay').css('display','block');
									$('#dialogLayer').show(1000);
									$('#overlay').fadeIn(1000);
								}else{
									
									
			location="__MODULE__/Share/shopping/shopid/"+$shopid+"/id/"+$goodsid+"/num/"+$num+"/pic/"+$goodspic+"/color/"+$color+"/size/"+$size+"/shopname/"+$shopname+"/goodsprice/"+$goodsprice+"/goodsname/"+$goodsname+"/discount/"+$discount;
						}
							

					}
				}

			})
				//登陆信息处理
				$('.login_btn').click(function(){
				$pass=$('#password').val();
				$user=$('#mlsUser').val();
				$.post("<{:U('login')}>",{pass:$pass,user:$user},function(arg){
					if(arg){
						// $('#dialogLayer').css('display','none');
						// $('#overlay').css('display','none');
						$('#dialogLayer').slideUp(2000);
						$('#overlay').slideUp(2000);
						location.reload();
					}else{
						// $('.loginErrorMessage').css('display','block');
						$('.loginErrorMessage').show(1000);
						
					}

				})
			})

			
	})
  </script>

			<div style="position: relative; top: 0px; height: auto;" id="navbar">
				<div class="sec_nav"></div>
			</div>

  <include file="./Mls/Home/Common/shoptop.html" />
  <div class="maskLayer" id="overlay" style="width: 100%; height: 975px; display: none;"></div>
<div style="width: 620px; height: auto; display: none; top: 102.75px; left: 50%; margin-left: -310px;" class="dialogLayer" id="dialogLayer">
	<div class="dialogTitle" id="dialogTitle">
		<span class="close_z" id="closeDialog"></span>
		<span id="dialogTitleText">登录</span>
	</div>
	<div class="dialogContent" id="dialogContent">
		<div class="login_wrap">
			<div class="login_normal">
				<h3>
					<a href="http://www.meilishuo.com/user/register?frm=tk_reg" target="_BLANK">注册</a>
					登录美丽说
				</h3>
				<fieldset>
					<form method="post" onsubmit="return false" action="" id="loginForm">
						<div class="l_list">
							<p class="l_box">
								<input class="l_txt" id="mlsUser" name="mlsUser" placeholder="手机号/邮箱/用户名" type="text">
								<span></span>
								<span class="user_icon"></span>
							</p>
						</div>
						<div class="l_list">
							<p class="l_box">
								<input class="l_txt" id="password" name="password" placeholder="密码" type="password">
								<span></span>
								<span class="pwd_icon"></span>
							</p>
						</div>
					
						<div class="loginErrorMessage none_f" style="display: none;">账号或密码错误，请重新输入</div>
						<div class="login_btn_wrap">
							<input class="login_btn" value="立即登录" type="submit"></div>
						
					</form>
				</fieldset>
			</div>
		
			<!-- <div class="clear_f"></div> -->
		</div>
		<!-- <div class="clear_f"></div> -->
	</div>
</div>
<span id='isset' style="display:none"><{$Think.session.hid}></span>

						<input id="shopid" type="hidden" value="<{$shopid}>">
						
						<input id="goodsid" type="hidden" value="<{$sid}>">
			<input id="discount" type="hidden" value="<{$gdeta.discount}>">
			<div class="main ">
				<div class="item-box" data-tid="3473702123">
					<div class="content twitter" twitter_id="3473702123">
						<div class="item-sale">
							<h3 class="item-title"><{$gdeta.name}></h3>
							<!--<a href="#" id="js-shopping-show" class="label-show">[晒单]</a>-->
							 <h4 class="item-sub-title"><{$gdeta.summary}></h4>
							<div class="item-price-info">
								<span class="price-now">
									￥
									<i id="price-now" class="num" data-price-min="79.00" data-price-max="79.00"><{$gdeta['price']*$gdeta['discount']/100}></i>
								</span>
								<span class="price-original">
									￥
									<i id="price-original" class="num" data-price-min="299.00" data-price-max="299.00"><{$gdeta.price}></i>
								</span>
								<span class="label-text js-label" style="background-color:#ff9933" data-text="免运费">免运费</span>
							</div>
							<!-- big promote -->			
							<div class="big-promote-notice">
								<p>
									<i class="logo"></i>
									<span class="preheat-text">领券后购买本商品最优惠，请提前加入购物车！</span>
									<span class="now-text">领券后购买本商品最优惠，错过再等一年！</span>
								</p>
								<a href="http://promotion.meilishuo.com/promotion/sale_1506/act616/#coupon_rg" target="_blank">立即领取250元美丽说全场通用券&nbsp;&gt;&gt;</a>
							</div>
							<!-- big promote end -->			
							<ul class="item-promote-infos js-shop-promote">
								<li class="js-promote-item">
									<i class="label-mark-limit">限</i>
									距离恢复原价仅剩
									<span class="countdown" data-remain="190352.8940000534">
										<i class="day countdown-time"></i>
										
										<i class="hour countdown-time"></i>
										
										<i class="minute countdown-time"></i>
										
										<i class="second countdown-time"></i>
										
									</span>
								</li>
								<!-- <li>
									<i class="label-mark-coupon">券</i>
									<ol class="item-promotion">
										<li class="item-promotion-single">
											满15减2元优惠券可领取
											<div class="dropdown-wrap js-coupon coupon-wrap">
												<a class="red_f dropdown-wrap-btn js-coupon-btn" href="javascript:%20void%200;">立即领取&nbsp;▾</a>
												<div class="js-coupon-panel dropdown-panel label-arrow-top">
													<div class="hd">领券下单，更多优惠等你拿</div>
													<ul class="bd"></ul>
													<span class="info js-info red_f"></span>
												</div>
											</div>
										</li>
									</ol>
								</li> -->
							</ul>
							<div class="item-freight">
							<!--
								<label>运 费</label>
								<if condition="$sArea eq null">火星<else/><{$sArea}></if>
								<span class="gray_f pl6_f">至</span>
								<a id="js-dest-city" class="pl6_f pr6_f city-name" href="#">
									<span class="js-city-name">北京</span>
									<i class="arrow-down"></i>
								</a>
								<span id="js-freight-text">免运费</span>
								-->
							</div>
							<ul class="item-data">
								<li>
									销量
									<span class="item-data-wrap"><{$gdeta.buy_num}>件</span>
								</li>
								<li class="item-data-middle">
									好评率
									<span class="item-data-wrap">
										100%
										(0人)
									</span>
								</li>
								<li>
									喜欢
									<span class="item-data-wrap">20479人</span>
								</li>
							</ul>
							<ul class="sku_meta"></ul>
							<div class="sku_info">
								<div class="skin">
									<p class="text none_f">
										<span class="close_z"></span>
										<span class="msg_ico"></span>
										请选择您要的商品信息
									</p>
									<dl class="prop">
										<dt>
											颜 色
											<span></span>
										</dt>
										<dd>
										
											<ul id="colorList" class="item-colorlist has-image-color">
												<volist name="gPic" id="gp">
													<li flag='0' style="height:48px;" class="img_list">
													<span img="img" style="display:none"><{$gp.g_pic}></span>
														<span class="js-item item-color-img" data-type="color" data-id="33655" data-index="1" id="goodspic">
															<img class="one" src="__PUBLIC__/<{$gp.g_pic}>" bsrc="http://d06.res.meilishuo.net/pic/_o/c5/22/26717437b467ed2de897d6d23281_640_900.ch.jpg_4acaca0e_s7_450_680.jpg" title="黑色" alt="黑色">			
															<i class="icon-outofstock-mask"></i>
														</span>
													</li>
												</volist>	
											</ul>
										</dd>
									</dl>
									<dl class="prop">
										<dt>
											尺 码
											<span></span>
										</dt>
										<dd>
											<ul id="sizeList" class="item-size-types">
												<volist name="goodSize" id="gz" key="k">
												<li>
													<!--class active-->
													<span flag='0' class="size js-item item-size-type" data-type="size" data-id="42331" data-index="1" id="<{$k}>"><{$gz.size}></span>
												</li>
												</volist>
												<!-- <li>
													<a href="#" class="js-item item-size-type active" data-type="size" data-id="42331" data-index="1">小</a>
												</li> -->
											</ul>
										</dd>
									</dl>
									<dl class="amount">
										<dt>数 量</dt>
										<dd>
											<div class="item-stock js-stock">
												<input class="item-stock-num js-stock-num" title="请输入购买数量" value="1" type="text" ">			
												<span class="item-stock-btns">
													<span class="item-stock-plus js-stock-plus ">
														<i class="icon-up"></i>
													</span>
													<span class="item-stock-minus js-stock-minus ">
														<i class="icon-down"></i>
													</span>
												</span>
												<span class="item-stock-reserve js-stock-reserve">
													(库存
													<span id="stock"><{$gdeta.stock}></span>
													件)
												</span>
											</div>
										</dd>
									</dl>
									<dl class="mt10_f">
										<dt>客 服</dt>
										<dd>
											<a class="goqq knilmi" href="javascript:;" path-id="<{$uid['u_id']}>-<{$Think.session.hid}>"  <em class="qqico">&nbsp;</em>
												联系客服
											</a>
										</dd>
									</dl>
									<div class="msg_box">
										<p style="display: none;" class="msg_limit">
											<span class="msg_ico"></span>
											对不起！每人最多限购100件！
										</p>
										<p style="display: none;" class="msg_zero">
											<span class="msg_ico"></span>
											对不起，这件宝贝已经卖光啦！
										</p>
										<p style="display: none;" class="msg_over">
											<span class="msg_ico"></span>
											您所填写的宝贝数量超过库存！
										</p>
									</div>
									<div class="btn_box">
										<a class="define" title="确定">确定</a>
										<div class="same_btn">
											<a class="add_cart" title="加入购物车"> <em class="cartico">&nbsp;</em>
												加入购物车
											</a>
											<a class="buy_btn" title="立即购买">
												<em class="rmbico">&nbsp;</em>
												立即购买
											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="item-spread">
								<div class="item-like-wrap">
									<a class="item-like-btn js-like-btn" data-liked="0" isshowlike="1" like_twitter_id="3473702123">
										<i class="icon-like"></i>
										喜欢
										<i class="item-like-num">(20479)</i>
									</a>
									<span class="addOneLike">+1</span>
								</div>
								<a class="item-share-btn js-item-share-btn">
									<i class="icon-share"></i>
									分享
								</a>
								<a id="twitter_magazi" class="add-in-magazine-btn">
									<i class="icon-magazine" title="收进杂志"></i>
								</a>
							</div> -->
						</div>
						<div id="zoom"> <img src="__PUBLIC__/<{$gp.g_pic}>" /> </div>
						<div id="picture" class="item-pic magnify">
							<div class="item-pic-origin " style="max-height:632px;">
								<img id="show" class="j-big-pic twitter_pic two" alt="新款韩版单/双肩包斜挎包" src="__PUBLIC__/<{$gp.g_pic}>">
								<div style="bottom: 13px; opacity: 0;" class="js-pop-tip item-pop-tip" data-num="155">
									<i class="icon-people"></i>
									<i class="num">155</i>
									人最近已购买
								</div>
							</div>
							<div class="item-pic-thumb js-pic-thumb">
								<volist name="gPic" id="gp">
									<!-- <span class="active"> -->
									<span>
									<img class="three" src="__PUBLIC__/<{$gp.g_pic}>" width="68" height="88"></span>
								</volist>
								<!-- <span>
									<img src="__HOMEIMAGES__/doota/service/e1fe60180ae7ad7b2c09accafd28_800_1047.jpg" bsrc="http://d02.res.meilishuo.net/pic/_o/f9/15/e1fe60180ae7ad7b2c09accafd28_800_1047.ch.jpg_84bf5180_s7_450_680.jpg" width="68"></span>
								<span>
									<img src="__HOMEIMAGES__/doota/service/d0ee5338c0fffd9fa06465ded0e6_640_900.jpg" bsrc="http://d06.res.meilishuo.net/pic/_o/dc/10/d0ee5338c0fffd9fa06465ded0e6_640_900.cg.jpg_cb3ec551_s7_450_680.jpg" width="68"></span>
								<span>
									<img src="__HOMEIMAGES__/doota/service/943b69dcffad988122fa48f282d6_640_900.jpg" bsrc="http://d05.res.meilishuo.net/pic/_o/8e/21/943b69dcffad988122fa48f282d6_640_900.cg.jpg_75fe79a0_s7_450_680.jpg" width="68"></span>
								<span>
									<img src="__HOMEIMAGES__/doota/service/d728dffe149298d51f4a77187639_640_900.jpg" bsrc="http://d05.res.meilishuo.net/pic/_o/2e/80/d728dffe149298d51f4a77187639_640_900.cg.jpg_7fdcd2e4_s7_450_680.jpg" width="68"></span> -->
							</div>
						</div>
					</div>
					<div class="sidebar">
						<div class="shop ">
							<a class="shop-avatar" href="http://www.meilishuo.com/shop/rating/?shop_id=179168&amp;frm=rate_to_rateall" target="_blank">
								<img src="__PUBLIC__/1.jpg" width="48"></a>
							<i class="icon-shop"></i>
							<div class="shop-wrap" path-id="<{$uid['u_id']}>" id="parent">
								<a href="__MODULE__/Shopinfo/index/id/<{$gdeta.id}>" target="_blank" class="shop-name"><{$shopDeta.name}></a>
								<div class="shop-follow-state js-follow-shop">
									<span class="shop-follow-btn is-not-followed">
										<i class="icon-plus">+</i>
										关注
									</span>
									<span class="shop-fans-wrap">
										<i class="shop-fans js-fans">604</i>
										粉丝
									</span>
								</div>
							</div>
							<ul class="shop-assess">
								<li class="shop-assess-first">
									描述
									<a href="http://www.meilishuo.com/shop/rating/?shop_id=179168&amp;frm=rate_to_rateall" class="shop-point down" target="_blank">
										<i class="arrow-ico">--</i>
										<if condition="$showScore['des_score'] eq null">0.0<else/><{$showScore.des_score}></if>
									</a>
								</li>
								<li class="shop-assess-middle">
									质量
									<a href="http://www.meilishuo.com/shop/rating/?shop_id=179168&amp;frm=rate_to_rateall" class="shop-point down" target="_blank">
										<i class="arrow-ico">--</i>
										<if condition="$showScore['qua_score'] eq null">0.0<else/><{$showScore.qua_score}></if>
									</a>
								</li>
								<li class="shop-assess-middle">
									服务
									<a href="http://www.meilishuo.com/shop/rating/?shop_id=179168&amp;frm=rate_to_rateall" class="shop-point down" target="_blank">
										<i class="arrow-ico">--</i>
										<if condition="$showScore['ser_score'] eq null">0.0<else/><{$showScore.ser_score}></if>
									</a>
								</li>
								<li class="shop-assess-last">
									发货
									<a href="http://www.meilishuo.com/shop/rating/?shop_id=179168&amp;frm=rate_to_rateall" class="shop-point down" target="_blank">
										<i class="arrow-ico">--</i>
										<if condition="$showScore['hai_score'] eq null">0.0<else/><{$showScore.hai_score}></if>
									</a>
								</li>
							</ul>
							<ul class="shop-info">
								<li>所在地区：<if condition="$sArea eq null">火星<else/><{$sArea['area']}></if></li>
								<li>商品数量：<{$goodNum}></li>
								<li>销售数量：<{$sellNum}></li>
								<li>
									店铺资质：
									<i class="icon-approve" title="美丽说认证 2014.11.05"></i>
								</li>
								<li>
									联系客服：
									<a class="knilmi" href="javascript:;" path-id="<{$uid['u_id']}>-<{$Think.session.hid}>">
										<i class="icon-contact"></i>
									</a>
								</li>
							</ul>
							<a href="__MODULE__/Shopinfo/index/id/<{$gdeta.id}>" class="into-shop-btn" target="_blank">
								<i class="into-shop-ico"></i>
								进入店铺
							</a>
						</div>
						<div class="maybe-like">
							<h3 class="hd">你可能还喜欢</h3>
							<ul>
								<volist name="aLike" id="al">
								<li class="even" style="margin:0 0 10px 10px">
									<a href="__MODULE__/Share/index/id/<{$al.id}>" target="_blank" title="<{$al.name}>">
										<img width="80" height="112" src="__PUBLIC__/<{$al.g_pic}>"></a>
									<p class="price">￥<{$al.price}></p>
								</li>
								</volist>
								
								
							</ul>
						</div> 
					</div>
				</div>
				<!-- 搭配人气展示 开始-->			
				<div class="tab_match">
					<h2 class="tab_top">
						<a href="javascript:void(0)" class="tabArea1 cur">人气单品</a>
					</h2>
				</div>
				<div class="contentArea1">
					<div class="may_like">
						<ul class="like_list">
							<volist name="hotGood" id="hg">
								<li>
									<div class="s_picBox">
										<a class="s_pic" href="__MODULE__/Share/index/id/<{$hg.id}>" target="_blank" title="<{$hg.name}>">
											<img width="180px" height="253px" src="__PUBLIC__<{$hg.pic}>" /></a>
									</div>
									<a class="txt" target="_blank" href="__MODULE__/Share/index/id/<{$hg.id}>"><{$hg.name}></a>
								</li>
							</volist>
							
						</ul>
					</div>
				</div>
<script>

$(function(){
	//添加回话框
	$id = '<{$Think.session.hid}>';
	$('.knilmi').click(function(){
	if($id){
		$str = '<div id="closeImframeBtn" style="position: fixed; width: 32px; height: 32px; z-index: 1002; right: 60px; bottom: 394px; cursor: pointer; opacity: 0; background-color: rgb(255, 102, 153);"></div>'
		+'<iframe id="im_iframe" src="__CONTROLLER__/knilmi" frameborder="no" allowtransparency="true" style="width: 570px; height: 410px; position: fixed; z-index: 1000; opacity: 1; right: 60px; bottom: 40px; border: none;"></iframe>'
		+'<div id="im_iframe_div" style="width: 410px; height: 32px; position: fixed; z-index: 1001; right: 60px; bottom: 394px; cursor: move; opacity: 0.3;"></div>'
		$('body').append($str);
	} else {
		window.location = "<{:U('Login/index')}>";
	}

		/*
		$('#im_iframe_div').mousedown(function(e){
			var offset = $(this).offset();//DIV在页面的位置 
			var x = e.pageX - offset.left;//获得鼠标指针离DIV元素左边界的距离 
			var y = e.pageY - offset.top;//获得鼠标指针离DIV元素上边界的距离
			console.log(y);
			console.log(x)
			//$('#closeImframeBtn').css('display','block');
			//$(this).css('background-color','255,102,153');
			//$(this).css('height','410px');

			$(document).bind("mousemove",function(ev)//绑定鼠标的移动事件，因为光标在DIV元素外面也要有效果，所以要用doucment的事件，而不用DIV元素的事件 
			{ 
				$("#im_iframe_div").stop();//加上这个之后 
				var _x = ev.pageX - x;//获得X轴方向移动的值 
				var _y = ev.pageY - y;//获得Y轴方向移动的值 
				$('im_iframe').css('bottom','none');
				$('im_iframe').css('right','none');
				//$("#im_iframe_div").css('position','absolute');
				$("#im_iframe").animate({left:_x+"px",top:_y+"px"},10); 
			}); 
		})
		$(document).mouseup(function(){ 
			$(".im_iframe_div").css("cursor","default"); 
			$(this).unbind("mousemove"); 
			$('#closeImframeBtn').css('display','none');
				$("#im_iframe_div").css('position','fixed');
		}) 
*/
		/*
		var $u_id = $("#parent").attr('path-id');
		var $id = '<{$Think.session.hid}>';
		var $str = $id+'-'+$u_id;
		$.ajax({
				type: "get",
				url: "<{:U('Share/actionK')}>",
				data: {action:'insertK',id:$str,flag:'1'},
				success: function(data){
				}
			});
	*/
	});
	//移除会话框
	$('#closeImframeBtn').live('click',function(){
		$('#im_iframe_div').remove();
		$('#im_iframe').remove();
		$(this).remove();
	})
/*
	$('.sentBtn').click(function(){
		alert(3)
		/*
		var $inputboxTest = $('im_inputbox_input');
		$.get('<{:U("Share/selectK")}>',{data:$inputboxTest.val()},function(data){
			console.log(data);
		})
	})
*/
})
</script>

<!--包含底部文件-->
<include file="./Mls/Home/Common/promise.html" />
<include file="./Mls/Home/Common/footer.html" />
			