<html>
<head>
	<meta charset="utf-8">
	<title>美丽说客服</title>
	<meta name="description" content="美丽说是百万MM一起修炼变美的购物分享社区。各路扮美达人与你分享美人心计、购物经验、搭配秘笈、当红好店，记录你的美丽成长。快来美丽说分享你的美丽点滴吧">
	<meta name="keywords" content="美丽说,美丽,网购,购物分享,淘宝网购物,淘宝网女装,衣服搭配,美丽说团购">
	<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
	<meta property="qc:admins" content="173137167465514130576375">
	<meta name="chinaz-site-verification" content="500e4417-e595-40ac-98da-dec66c97a9e5">

	<link rel="stylesheet" type="text/css" href="__HOMECSS__/base.css">
	<link rel="apple-touch-icon-precomposed" href="http://i.meilishuo.net/css/images/custom_icon_precomposed.png">
	<link rel="stylesheet" type="text/css" href="__HOMECSS__/simple.css">

	

  <load file="__HOMEJS__/jquery-1.7.2.js" />
	
</head>
<body>
	<div id="im_body" class="user_model" path-id="<{$Think.session.hid}>">
		<div class="im_banner">
			<span class="closeFrame"></span>
		</div>



		<!--用户-->
		<div class="im_left" id="im_left">
			<div class="im_userlist">
				<div class="user_list" id="user_list">
					<div class="list_now" id="list_now">
					<!--
						<div class="user_info   online" uid="<{$val['id']}>" index="<{$key}>" style="display: block;">
							<p class="user_status">
								<span class="simple_online">&nbsp;</span>
							</p>
							<p class="user_name">
								<span><{$val['nickname']}></span>
							</p>
							<span class="num"></span>
							<span class="closeBtn" style="display: none;">×</span>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>



		
		<div class="im_main" id="im_main">

			<!--E韩版时尚:E韩版时尚
			<div class="im_mainitem rightHide" uid="185882563">
				<div class="im_top">
					<div class="user_info online" uid="185882563">
						<span class="user_img">
							<img src="http://d05.res.meilishuo.net/ap/a/e6/13/56cc6ef08933d91940c8696ce437_200_200.cf.jpg">
							<span class="mobile_online" style="display: none;"></span>
						</span>
						<div class="user_name" uid="185882563">
							<span class="left_f">E韩版时尚:E韩版时尚</span>
						</div>
					</div>
				</div>
				<div class="im_mainbox">
					<div class="im_dialogbox">
						<div class="im_dialog" uid="185882563">
							<div class="history hide" style="display: none;">
								<div toid="185882563" class="historyBtn" style="display: none;">查看历史聊天记录</div>
								<div class="history_intro">
									<span>以上是聊天记录</span>
								</div>
							</div>
							<div class="goods_box">
								<p class="goods_link">
									您正在看：
									<a target="_blank" href="http://www.meilishuo.com/share/item/3614894143">http://www.meilishuo.com/share/item/3614894143</a>
								</p>
								<a class="goods_img" target="_blank" href="http://www.meilishuo.com/share/item/3614894143">
									<img src="http://d06.res.meilishuo.net/pic/_o/05/89/0e5573f1694bf29c94adb494fe93_640_901.cf.jpg_c1b03d6a_s2_180_255.jpg"></a>
								<p class="title">
									<a target="_blank" href="http://www.meilishuo.com/share/item/3614894143">V领双层雪纺背心</a>
								</p>
								<p class="price">¥19.00</p>
								<div class="clear_f"></div>
							</div>
						</div>
					</div>
					<div class="im_inputbox">
						<div class="im_inputbox_tools">
							<span class="smile"> <em class="i_smile">&nbsp;</em>
								表情
							</span>
							<div class=" ntBdaolpu" style="overflow: hidden; position: relative; width: 88px; height: auto;">
								<span class="uploadImg"> <em class="i_upload">&nbsp;</em>
									图片
								</span>
								<input type="file" style="font-size: 32px; margin-left: -350px; position: absolute; left: 0px; top: 0px; cursor: pointer; opacity: 0;" name="attach"></div>
						</div>
						<form method="post" onsubmit="return false" action="" uid="185882563">
							<div class="im_inputbox_input" contenteditable="true"></div>
							<ul class="im_inputbox_picbox"></ul>
							<p class="button">
								<input class="btn sentBtn" type="submit" value="发 送"></p>
						</form>
					</div>
				</div>
			</div>
			-->

			<!--潮包优品:潮包优品-->
			<div class="im_mainitem rightHide act" uid="203255076">
				<div class="im_top">
					<div class="user_info online" uid="203255076">
						<span class="user_img">
							<img class="shopImage" src="">
							<span class="mobile_online" style="display: none;"></span>
						</span>
						<div class="user_name" uid="203255076">
							<span class="left_f userName"></span>
						</div>
					</div>
				</div>
				<div class="im_mainbox">
					<div class="im_dialogbox">
						<div class="im_dialog" uid="203255076">
							<div class="history">
								<div toid="203255076" class="historyBtn" style="display: none;">查看历史聊天记录</div>
								<!--聊天内容-->

								<!--
								<div class="d_m d_text">
									<div class="ctime">07月12日 20:07:57</div>
									<div class="con">
										<div class="user_info">
											<span class="user_img">
												<img src="http://d05.res.meilishuo.net/ap/b/97/d5/9f2d27b803fb8591d6b6edccbf79_100_100.ch.jpeg"></span>
										</div>
										<div class="bubble" id="mid_929817557">
											<p>o</p>
											<span class="shap"></span>
											<span class="shapb"></span>
										</div>
										<div class="clear_f"></div>
									</div>
									<div class="clear_f"></div>
								</div>

								
								<div class="d_u d_text">
									<div class="ctime">07月13日 10:00:58</div>
									<div class="con">
										<div class="user_info">
											<span class="user_img">
												<img src="http://d04.res.meilishuo.net/ap/a/1f/97/c44ce951355651fe2c0725f54ed4_220_220.cg.jpg"></span>
										</div>
										<div class="bubble" id="mid_930451215">
											<p>你好亲</p>
											<span class="shap"></span>
											<span class="shapb"></span>
										</div>
										<div class="clear_f"></div>
									</div>
									<div class="clear_f"></div>
								</div>
								-->

								<div class="history_intro">
									<span>以上是聊天记录</span>
								</div>
							</div>

							<div class="goods_box" style="background:#fff">
							<!--
								<p class="goods_link">
									您正在看：
									<a target="_blank" href="http://www.meilishuo.com/share/item/3521458991">http://www.meilishuo.com/share/item/3521458991</a>
								</p>
								<a class="goods_img" target="_blank" href="http://www.meilishuo.com/share/item/3521458991">
									<img src="http://d02.res.meilishuo.net/pic/_o/88/89/687fded45016fae57d8f8785a0c8_640_900.cg.jpg_d24846c3_s2_180_255.jpg"></a>
								<p class="title">
									<a target="_blank" href="http://www.meilishuo.com/share/item/3521458991">简约字母双肩包</a>
								</p>
								<p class="price">¥59.00</p>
								<div class="clear_f"></div>
								-->
							</div>
						</div>
					</div>

					<div class="im_inputbox">
						<div class="im_inputbox_tools">
							<span class="smile">
								<em class="i_smile">&nbsp;</em>
								表情
							</span>
							<div class=" ntBdaolpu" style="overflow: hidden; position: relative; width: 88px; height: auto;">
								<span class="uploadImg">
									<em class="i_upload">&nbsp;</em>
									图片
								</span>
								<input type="file" style="font-size: 32px; margin-left: -350px; position: absolute; left: 0px; top: 0px; cursor: pointer; opacity: 0;" name="attach"></div>
						</div>
						<!--现聊天内容-->
						<form method="post" onsubmit="return false" action="" uid="203255076">
							<div class="im_inputbox_input" contenteditable="true"></div>
							<ul class="im_inputbox_picbox"></ul>
							<p class="button">
								Ctrl+Enter
								<input class="btn sentBtn" type="submit" value="发 送"></p>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div class="atDiv" style="word-wrap: break-word; outline: medium none; position: absolute;overflow:auto;filter:alpha(opacity=0);moz-opacity:0;opacity:0;">
		<span class="before">
			<!--?= before?-->
		</span>
		<span class="flag">
			<!--?= flag?-->
		</span>
		<span class="after">
			<!--?= after?-->
		</span>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div>
		<audio hidden="true" preload="auto" id="newMsg" autobuffer="">
			<source src="http://i.meilishuo.net/css/images/wap/web/im/mlsim_sound2.mp3"></audio>
	</div>
	<div>
		<audio hidden="true" preload="auto" id="newOrder" autobuffer="">
			<source src="http://i.meilishuo.net/css/images/wap/web/im/mlsim_order.mp3"></audio>
	</div>

	<!--表情-->
	<div class="smileysbox clearfix_f" style="left: 173px; top: 163px; display: none;">
		<div class="line" style="display: none;"></div>
		<ul>
			<li class="smiley" id="OK.gif" title="OK">
				<img emotion="[OK]" title="OK" src="http://i.meilishuo.net/css/images/face/20150108dynamic/OK.gif"></li>
			
			<li class="smiley" id="感谢.gif" title="感谢">
				<img emotion="[感谢]" title="感谢" src="http://i.meilishuo.net/css/images/face/20150108dynamic/感谢.gif"></li>
		</ul>
	</div>
<script>
		//alert($('.shop-wrap').attr('path-id'));
		//alert(window.parent.getElementsByClassName('shop-wrap')[0]);
		var $u_id = $(window.parent.document).find("#parent").attr('path-id');// 店铺用户id
		var $id = '<{$Think.session.hid}>';// 用户id
		var $str = $id+'-'+$u_id;//信息表id
		var $inputText = $('.im_inputbox_input');//输入框文本
		var $index = '';//用于判断记录选中哪一个
		var $count = 0;//用于记录历史结束位置
		var $image = '';//用于记录店铺
		var $name = '';//记录用户昵称
		GetUserList();

		$(function(){
			//点击按钮插入数据
			$('.sentBtn').click(function(){
				insertData();
			});
			//插入数据	
			function insertData(){
				$.get('<{:U("Share/actionK")}>',{action:'insertK',id:$str,message:$inputText.html(),time:new Date()},function(data){
					if(data == '1'){
						$inputText.html('');
						//GetMessageList();
						AutoUpdContent();
						//console.log($('.im_dialogbox')[0].scrollHeight)
					}
				})
			}
			//ctrl+enter	发送数据
			$(document).keydown(function(event){
				if(event.which  == 13 && event.ctrlKey){
					insertData();
				}
			})
			//出现取消按钮
			$('.online').live('mouseover',function(){
				$(this).children('.closeBtn').css('display','block');
			})
			$('.online').live('mouseout',function(){
				$(this).children('.closeBtn').css('display','none');
			})
			//选中状态
			$('.online').live('click',function(){
				var obj = $('.online');
				$.each(obj,function( index, value){
					$('.online').eq( index ).removeClass('act');
				})
				$(this).addClass('act');
				$u_id = $('.act').attr('uid');
				//重新组合条件
				$str = $id+'-'+$u_id;
				//获取用户图片
				$image = $(this).attr('pic');
				$('.shopImage').attr('src',$image);
				//获取用户昵称
				$name = $(this).attr('nickname');
				$('.userName').html($name);
				//查询新数据
				$inputText.html('');
				GetMessageList('1');
				$('.goods_box').html('');
				$('.history').html('');
			})

			$('.online').eq(0).addClass('act');
			//取消临时聊天
			$('.closeBtn').live('click',function(){
				if($('.online').length == 0){
				}
				$(this).parent().remove();
				$.get('<{:U("Share/actionK")}>',{action:'updateK',id:$str,time:new Date()});
			})
		})
		//获取数据
		function GetMessageList(flag,limit){
			$.ajax({
				type: "get",
				url: "<{:U('Share/actionK')}>",
				data: {action:'selectK',id:$str,limit:limit},
				success: function(data){
					//console.log(data);
					if(data){
						if(flag){
							//$('.history').html('');
							$.each(data, function( index, value){
								if(value.u_id == $id ){
									GetMessageRight(value, flag);
								}else {
									GetMessageLeft(value, flag);
								}
							//重置开始位置
							$count = index;
							})
							$count = $count + 1;
							$('.history').append('<div class="history_intro"> <span>以上是聊天记录</span> </div>');
		//					addOne();
						} else {
							//$('.goods_box').html('');
							$.each(data, function( index, value){
								if(value.u_id == $id ){
									GetMessageRight(value);
								}else {
									GetMessageLeft(value);
								}
							})
						}
					}
					$('.im_dialogbox').scrollTop($('.im_dialogbox')[0].scrollHeight+1000);
				}
			});
		}
		//用户列表数据
		function GetUserList(){
			$.ajax({
				type: "get",
				url: "<{:U('Share/actionK')}>",
				data: {action:'selectUK',id:$str},
				success: function(data){
					if(data){
						$index = $('.act').attr('index');
						$('#list_now').html('');
						$.each(data, function( index, value){
							GetListData(index, value, $index);
						})
						//$('.im_dialog').scrollTop($('.im_dialog').scrollHeight);
					}
				}
			});
		}
		//列表数据加载
		function GetListData(index, value, $index){
			//alert($index)
			if(index == $index || value.id == $u_id){
				var act = 'act';
				//用户图片
				$image = value.pic;
				$('.shopImage').attr('src',$image);
				//用户昵称
				$name = value.nickname;
				$('.userName').html($name);
			} else {
				act = '';
			}
			$message = '<div class="user_info ' + act + ' online" nickname=' + value.nickname + ' pic=' + value.pic + ' uid="' + value.id +'" index="' + index + '" style="display: block;">'
					+'	<p class="user_status">'
					+'		<span class="simple_online">&nbsp;</span>'
					+'	</p>'
					+'	<p class="user_name">'
					+'		<span>' + value.nickname + '</span>'
					+'	</p>'
					+'	<span class="num"></span>'
					+'	<span class="closeBtn" style="display: none;">×</span>'
					+'</div>';
					$('#list_now').append($message);
		}
		//右边数据
		function GetMessageRight(value, flag){
			$message = '<div class="d_m d_text">'
			+'<div class="ctime">' + new Date(parseInt(value.time) * 1000).toLocaleString().substr(0,17) + '</div>'
			+'<div class="con">'
			+'	<div class="user_info">'
			+'		<span class="user_img">'
			+'			<img src="' + '<{$userinfo['pic']}>' + '"></span>'
			+'		</div>'
			+'		<div class="bubble" id="">'
			+'			<p>' + value.message + '</p>'
			+'			<span class="shap"></span>'
			+'			<span class="shapb"></span>'
			+'		</div>'
			+'		<div class="clear_f"></div>'
			+'	</div>'
			+'	<div class="clear_f"></div>'
			+'</div>';
			if(flag){
				$('.history').append($message);
			} else {
				$('.goods_box').append($message);
			}
		}
		//左边数据
		function GetMessageLeft(value, flag){
			$message = '<div class="d_u d_text">'
				+'<div class="ctime">' + new Date(parseInt(value.time) * 1000).toLocaleString().substr(0,17) + '</div>'
				+'<div class="con">'
				+'	<div class="user_info">'
				+'		<span class="user_img">'
				+'			<img src="' + $image + '"></span>'
				+'		</div>'
				+'		<div class="bubble" id="">'
				+'			<p>' + value.message + '</p>'// value.message
				+'			<span class="shap"></span>'
				+'			<span class="shapb"></span>'
				+'		</div>'
				+'		<div class="clear_f"></div>'
				+'	</div>'
				+'	<div class="clear_f"></div>'
				+'</div>';
				if(flag){
					$('.history').append($message);
				} else {
					$('.goods_box').append($message);
				}
			}
		//查看是否更新
		function GetCount(){
			$.ajax({
				type: "get",
				url: "<{:U('Share/actionK')}>",
				data: {action:'selectCK',id:$str},
				success: function(data){
					if($count != data){
						var $limit = $count+','+(data-$count);
						console.log($limit)
						GetMessageList(0,$limit);	
						$count = data;
					}
				}
			});
		}
		function AutoUpdContent(){
			GetCount();
			GetUserList();
			//GetMessageList();
			//GetUserList();
		}
		//自动添加一句问候
		function addOne(){
			$.ajax({
				type: "get",
				url: "<{:U('Share/actionK')}>",
				data: {action:'insertK',id:$str,flag:'1'},
			});
		}

		//开始执行一次
		//	AutoUpdContent();
		//GetCount();
		GetMessageList('1');
		//addOne();
		setInterval(AutoUpdContent,1000);
		setTimeout(addOne,500)
</script>


</body>
</html>